

.date_btn button {

   margin: 0 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    color: #999;
    transition: all 0.2s;
    height: 60px;
    width: 40px;
    border: 0.5px solid #b1b1b1;
    background-color: #fff;
}



.date_btn .active_btn{

       color: #fff;
       background-color: #1163C7;
}