.card{

  border-radius: 12px;
}

.card_img {

  overflow: hidden;
  height: 222px !important;
  width: 100%;
    border-radius: 12px 12px 0 0;
}

 .card_img img {

  height: 100%;
  width: 100%;
  border-radius: 12px 12px 0 0;
 }

.card_img img:hover{

  transform: scale(1.1);
  transition: .3s ease-in-out;
    border-radius: 12px 12px 0 0;
}
