.coach_page_section .card {
  box-shadow: 0px 4px 4px 0px #1163c740;
  /* margin-bottom: 15px; */
  border: none;
  position: relative;
  border: none;
}


.card_icons_box {
    position: absolute;
    right: 3%;
    top: 10px;
}

.card_icons_box button{

  background: transparent;
  border: none;
}

.coach_page_section .rate  {

      top: 10px;
    left: 10px;
    background: #0000004D;
    border-radius: 4px;
    display: flex;
    padding: 5px 8px;
    align-items: center;
    gap: 5px;
    border: 1px solid #fff;
    color: #fff;
    z-index: 5;
    height: 22px;
}
.coach_page_section .card h2 {
  font-weight: 500;
  font-size: 20px;
  color: #172a39;
  margin-bottom: 16px;
}

.coach_page_section .sports_title p {
  color: #858585;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}

.coach_page_section p.memebercat {

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  color: #FC8019;

}

.coach_page_section .trainerbox {

  border: 0.5px solid #fff;
  background: #0000004D;
  color: white;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 12.06px;
  position: absolute;
  top: 47%;
  padding: 5px 10px;
  left: 10px;
  border-radius: 5px;

}

.coach_page_section .reating {
  color: white;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 12.06px;
  position: absolute;
  top: 10px;
  background: #0000004D;
  padding: 5px 10px;
  left: 15px;
  border-radius: 5px;
  z-index: 999;
}

.coach_page_section .offer p {
  font-weight: 400;
  font-size: 14px;
  color: #fc8019;
  margin-bottom: 0px;
}

.coach_page_section .txt_wrapper {
  padding: 15px;
}

.coach_page_section .offer a {
  background-color: #1163c7;
  padding: 5px 16px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-decoration: none;
  line-height: 26px;
  border-radius: 5px;
  font-family: "DM Sans";
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  width: 100%;

}



.coach_page_section .offer a:hover {
  border: 1px solid #1163c7;
  background-color: transparent;
  color: #1163c7;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}


