* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f3f2;
  color: #333;
}

.coach-filter-container {
  display: flex;
  padding: 30px 100px;
  padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
  gap: 1rem;
  font-family: "Segoe UI", sans-serif;
  padding-top: 20px;
}

.coach-filter-sidebar {
  border: 1px solid #1163c7;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  width: 295px;
  height: 318px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
}

.coach-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 25px;
  flex: 1;
}

.coach-footer-banner {
  padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
}
/* 
@media (max-width: 607px) {
  .coach-filter-container {
    flex-direction: column;
  }

  .coach-grid {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap; 
    gap: 16px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .coach-grid::-webkit-scrollbar {
    display: none;
  }
} */

.coach-card {
  min-width: 250px;
  max-width: 300px;
  flex: 0 0 auto; /* Prevent flex-grow and shrink */
}

@media (max-width: 607px) {
  .coach-filter-container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .coach-filter-sidebar {
    width: 100%;
  }
}

