.card {
  box-shadow: 0px 4px 4px 0px #1163c740;
  margin-bottom: 15px;
  border: none;
  position: relative;
  height: 100%;
  max-height: 460px;
}

.rating_box {
  top: 10px;
  left: 10px;
  background: #0000004d;
  border-radius: 4px;
  display: flex;
  padding: 5px 8px;
  align-items: center;
  gap: 5px;
  border: 1px solid #fff;
  color: #fff;
  z-index: 5;
  height: 24px;
}


.card.modal_title {
  box-shadow: unset;
}

.card_icon {
  position: absolute;
  top: 10px;
  z-index: 999;
}

.card_icon.events .like {
  right: 15%;
  height: 26px;
  width: 26px;
  position: absolute;
}

.card_icon {
  position: absolute;
  top: 10px;
  z-index: 999;
  right: 3%;
}

.book_venue_section .card h2 {
  font-weight: 500;
  font-size: 24px;
  color: #172a39;
  margin-bottom: 16px;
}

.sports_title p {
  font-weight: 400;
  font-size: 14px;
  color: #fc8019;
  margin-bottom: 0px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 14px;
}

.sports_title p span {
  color: #1163c7;
}

.txt_wrapper {
  padding: 15px;
}

.offer a {
  background-color: #1163c7;
  padding: 5px 16px;
  font-weight: 400;
  font-size: 14px;
  color: white !important;
  text-decoration: none;
  line-height: 26px;
  border-radius: 5px;
  font-family: "DM Sans";
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.offer a:hover {
  border: 1px solid #1163c7;
  background-color: transparent;
  color: #1163c7 !important;
  transition: 0.3s ease-in-out;
}

.easy_box {
  position: absolute;
  top: 37%;
  left: 10px;
  background: #0000004d;
  color: white;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ffffff9a;
  border-radius: 4px;
}

@media screen and (max-width: 540px) {

  .card{

    max-height: unset;
    height: unset;
  }
  
}