


.slide-card {
  transition: transform 0.3s ease;
  height: 160.20px;
  padding: 0 10px;
}



.slide-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17.25px;
}

.slide-card:focus,
.slide-card:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
