.price-container {
  margin-top: 10px;
}

.price-values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 8px;
}

.price-values span {
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.price-values span.active-price {
  color: rgb(11, 7, 238);
  font-weight: bold;
}

.price-slider {
  width: 100%;
  accent-color: rgb(11, 7, 238);
}
