.book_venue_section .card {
  box-shadow: 0px 4px 4px 0px #1163c740;
  margin-bottom: 15px;
  border: none;
  position: relative;
}

.filter_container{

      border: 0.97px solid #1783D0;
    padding: 20px;
    background-color: white;
    border-radius: 7.74px;
}

.kids_check_box label{

      font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    color: #172A39 !important;
    text-align: start !important;


}

.filter_container .reset {

  text-decoration: none;
    color: #B1B1B1;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 20px;
}

.kids_check_box input {

      border: 0.97px solid #00000066;
    height: 18.61px;
    width: 18.61px;
    margin-right: 15px;
}

.filter_container h3 {


      font-family: 'Lato';
    font-weight: 600;
    font-size: 20px;
    color: #172A39;

}
.card_icons .like {
  position: absolute;
  top: 10px;
  z-index: 999;
  right: 18%;
  height: 26px;
  width: 26px;
}

.card_icons .share {
  position: absolute;
  top: 10px;
  z-index: 999;
  right: 5%;
  height: 26px;
  width: 26px;
}

/* .book_venue_section .card h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #172a39;
  margin: 0;
} */

.sports_title p {
  color: #858585;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}

.offer p {
  font-weight: 400;
  font-size: 14px;
  color: #fc8019;
  margin-bottom: 0px;
}

.txt_wrapper {
  padding: 15px;
}

.offer a {
  background-color: #1163c7;
  padding: 5px 16px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-decoration: none;
  line-height: 26px;
  border-radius: 5px;
  font-family: "DM Sans";
  border: 1px solid transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}

.offer a:hover {
  border: 1px solid #1163c7;
  background-color: transparent;
  color: #1163c7;
  transition: 0.3s ease-in-out;
}

.card_img img:hover {
    transform: scale(1.1);
}

.rating {

    position: absolute;
    top: 10px;
    left: 10px;
    background: #0000004D;
    color: white;
    width: 65px;
    height: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
     border-radius: 4px;
     text-align: center;
   
}

.rating span{

    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    color: white;
    border: 1px solid #fff;

}