.EditProfile-container {
  margin: 40px auto;
  padding: 10px 40px;
  border-radius: 16px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.profile-pic-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  border-radius: 50%;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #e0e0e0;
}

.camera-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  border-radius: 50%;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
}
.edit-icon{
  height: 30px;
  width: 30px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-form input,
.profile-form select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.profile-form input:focus,
.profile-form select:focus {
  border-color: #007bff;
}

.profile-form button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.profile-form button:disabled {
  background-color: #cccccc;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  text-align: left;
}
