.login-modal-overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal-content {
  position: relative;
  /* background: #fff; */
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  width: 100%;
}

.login-modal-close {
  position: absolute;
  right: 30px;
  top: 25px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
