.booking-wrapper {
    padding: 1rem;
    max-width: 900px;
    margin: auto;
}

.tabs {
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    background: #F1F3F2;
    padding: 12px;
    border-radius: 10px;
}

.tab {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    color: #858585;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.67px;
    letter-spacing: 0;
}

.tab.active {
    background: #0d6efd;
    color: white;
    font-weight: bold;
    border: none;
}

.section-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
}
.booking-list{
    height: 500px;
}

.booking-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.booking-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.booking-info {
    flex: 1;
}

.booking-info h4 {
    margin: 0;
    color: #333;
}

.booking-info p {
    margin: 4px 0;
    font-size: 0.9rem;
    color: #666;
}

.booking-info .ref {
    font-weight: 500;
    color: #999;
}

.booking-actions {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.share-btn,
.cancel-btn {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.share-btn {
    background-color: #eaf3ff;
    color: #0d6efd;
}

.cancel-btn {
    background-color: #fff0f0;
    color: #dc3545;
}

.no-bookings {
    text-align: center;
    margin: 2rem 0;
    font-size: 1rem;
    color: #999;
}


.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.pagination button {
    padding: 0.4rem 0.8rem;
    border: none;
    background: #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
}
.pagination button:disabled {
  background: #eee;
  cursor: not-allowed;
  color: #999;
}


@media (max-width: 768px) {
    .booking-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .booking-image {
        width: 100%;
        height: auto;
    }

    .booking-actions {
        justify-content: center;
    }
}