
.profile_section  h2 {

  color: #1163c7;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;

}

.profile_section  h3 {

  text-align: start;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 23.33px;
  color: #172A39;
  display: none;

}
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px 20px;
 box-shadow: 0px 5.79px 5.79px 0px #1163C740;
  margin-bottom: 20px;
}

.user-card-left {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  color: #0066cc;
  font-size: 16px;
  margin-bottom: 4px;
}

.user-email {
  color: #777;
  font-size: 14px;
  margin-bottom: 4px;
}

.user-phone {
  color: #999;
  font-size: 14px;
}

.user-card-right .edit-icon {
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
}

.account-card a {

  border-bottom: 1px solid #ECECEC;
}

.booking_links {

  box-shadow: 0px 5.79px 5.79px 0px #1163C740;
  border-radius: 18.55px;
  /* padding: 18px 24px; */
  background-color: white;

}
.account-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  text-decoration: none;
  border-bottom: 1px solid #ECECEC !important;
}

.account-card {

  border-top: 1px solid #ECECEC;
}
.account-card:first-child{

  border: none;
}

.account-option:last-child {
  border-bottom: none !important;
}

.account-left {
  display: flex;
  align-items: center;
}

.account-icon {
  width: 40px;
  height: 40px;
  background-color: #e5f0ff;
  color: #dbecff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-right: 14px;
  font-size: 12px;
}

.account-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21.64px;
  line-height: 30.91px;
  letter-spacing: 0;
  color: #272727;
}

.account-arrow {
  font-size: 30px;
  color: #999;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-item {
  background-color: #f5f7f8;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.nav-item:hover {
  background-color: #e8f0fe;
}

.main-content {
  position: relative;
  flex: 3;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 2px solid transparent;
  background-image:
    linear-gradient(#fff, #fff),
      linear-gradient(
        90deg,
        rgba(163, 208, 255, 0.870588) 10.58%,
        #1163c7 31.73%,
        #1163c7 72.12%,
        #a3d0ff 92.31%
      );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.account-option.active-tab {
  text-decoration: none;
  color: #ffffff;
}

/* Responsive */


@media screen and  (max-width: 768px) {

  .profile_section h2{

    font-size: 25px;
    line-height: 35px;
  }

  .user-card-right .edit-icon {
    position: absolute;
    bottom: 30px;
    right: 22px;
    height: 22px;
    width: 22px;
}
  .Profile-heading {
    flex-direction: column;
    padding: 16px;
    text-align: center;
  }

  .Profile-heading h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .profile-container {
    flex-direction: column;
    padding: 16px;
  }


  .booking-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .booking-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 540px) {

    .profile_section h2{

    font-size: 25px;
    line-height: 35px;
  }
  
}
