form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Background overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(30, 30, 30, 0.4); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Segoe UI", sans-serif;

  padding: 10px;
}

/* Modal container */
.register-modal {
  background-color: white;
  width: 530px;
  height: auto;
  border-radius: 16px;
  padding: clamp(24px, 2.7778vw, 40px);
  position: relative;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

/* Close button */
.close-button {
  position: absolute;
  top: 20px;
  right: 24px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 40px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-modal h2 {
  text-align: center;
  font-size: clamp(24px, 2.22vw, 32px);
  font-weight: 600;
  margin-top: 20px;
  color: #0d1b2a;
  font-family: "DM Sans", sans-serif;
}

.register-modal label {
  margin-bottom: 5px;
  color: #858585 !important;
  font-family: "DM Sans", sans-serif;
  font-size: clamp(12px, 1.1111vw, 16px);
  font-weight: 400;
}

.register-modal input,
.register-modal select {
  width: 100%;
  padding: 8px;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  height: 50px;
}

.main-input:focus,
.register-modal select:focus {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

/* Phone input row */
.phone-input,
.otp-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 6px;
  background: white;
}
.otp-input input,
.phone-input input {
  display: flex;
  align-items: center;
  border: none;
  flex: 1;
  padding: 6px;
  font-size: 14px;
  outline: none;
}

.country-code {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px !important;
  border-radius: 10px;
  border: none;
  white-space: nowrap;
  font-family: "DM Sans", sans-serif;
  font-size: clamp(12px, 1.1111vw, 16px);
  font-weight: 400;
  color: #6d6c6c;
}

.country-code img {
  width: 20px;
  height: 14px;
  border-radius: 2px;
}

.otp-btn {
  background: none;
  border: none;
  color: #0066cc;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  margin-right: 10px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  font-size: 14px;
  color: #333;
}

.checkbox-row input[type="checkbox"] {
  margin-top: 1px;
}
.checkbox-row input {
  width: auto;
}

.checkbox-row p {
  margin: 6px;
  font-size: 12px;
  line-height: 1;
}

.checkbox-row a {
  color: #007bff; /* Optional: link color */
  text-decoration: underline;
}

/* .error-box {
  margin-bottom: 10px;
  background-color: #ffe0e0;
  padding: 10px;
  border-radius: 6px;
} */

.error-text {
  color: #d8000c;
  margin: 0;
  font-size: 14px;
}

/* Submit row */
.submit-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}

.signup-btn {
  background-color: #1163c7;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
   height: clamp(48px, 4.4444vw, 64px);
  font-size: clamp(18px, 1.5278vw, 22px);

}

.submit-row p {
  font-size: 13px;
  color: #333;
}

.submit-row a {
  color: #0066cc;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .register-modal {
    margin-top: 150px;
  }
}
.close-button:hover {
  background-color: gainsboro;
}
