.amenities_card {

   border: 0.89px solid #CDCDCD;
   padding: 10px 15px;
   border-radius: 10px;
   margin-top: 20px;


}

.amenities_card h2 {

    font-family: 'Lato';
    font-weight: 500;
    font-size: 17.72px;
    color: #172A39;
    line-height: 23.03px;

}

.amenities_card .row{

    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
    height: 100%;
}

.amenities_card .inner {


    border: 0.94px solid #B1B1B1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 20px;
    border-radius: 3.75px;
    margin: 5px;
    
}

.amenities_card .inner a {

    text-decoration: none;
    font-family: 'Lato';
    color: #B1B1B1;
    font-weight: 400;
    font-size: 12.66px;
    line-height: 23px;
    cursor: pointer;

}

.amenities_card .inner a:hover{

    font-weight: 600;
    transition: .3s ease-in-out;


}

/* Custom Scrollbar for Y-axis (WebKit browsers) */
.amenities_card .row::-webkit-scrollbar {
  width: 8px; /* vertical scrollbar width */
}

.amenities_card .row::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 10px;
}

.amenities_card .row::-webkit-scrollbar-thumb {
  background-color: #6da9f1; /* scrollbar color */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Hover effect on scrollbar */
.amenities_card .row::-webkit-scrollbar-thumb:hover {
  background-color: lightgray;
}
