* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f3f2;
  color: #333;
}

.Coach-main-header {
  position: relative;
  left: 0%;
  right: 50%;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 25px;
  /* border-bottom-left-radius: 50px; */
  border-bottom-left-radius: clamp(30px, 11.3636vw, 50px);
  /* border-bottom-right-radius: 50px; */
  border-bottom-right-radius: clamp(30px, 11.3636vw, 50px);
  height: 208px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding: 0px 100px; */
  padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
  justify-content: center;
}

.breadcrumb {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  font-family: "DM Sans", Arial, sans-serif;
}

.coachpage-name {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 44px;
    font-size: clamp(20px, 5vw, 44px);
}

.coach-location-rating {
  display: flex;
  /* gap: 20px; */
  color: #172a39;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
  font-family: "DM Sans", Arial, sans-serif;
}
.coach-details-container {
  padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
}
.coach-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.coach-left {
  flex: 1 1 55%;
  position: relative;
  max-width: 821px;
  width: clamp(300px, 57.0139vw, 821px);
}

.coach-right {
  background-color: #f1f3f2;
  border-radius: 10px;
  border: 1px solid #f1f3f2;
  /* width: 403px; */
  width: clamp(200px, 27.9861vw, 403px);
}

.coach-image-carosal {
  height: 500px;
  height: clamp(200px, 34.7222vw, 500px);
  margin-top: 1rem;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* padding: 1rem; */
}

.coach-swiperslide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coach-swiperslide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coach-section {
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.coach-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.coach-heading {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #172a39;
  line-height: 27.2px;
}
/* .gym-right-section-p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.4px;
  color: #172a39;
} */

.coach-description {
  font-size: 16px;
  line-height: 21.67px;
  color: #272727;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
}

.read-more-btn {
  background-color: transparent;
  border: none;
  color: #1163c7;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  line-height: 21.67px;
  font-weight: 400;
  font-size: 16px;
  font-family: "DM Sans", Arial, sans-serif;
  text-transform: capitalize;
  /* margin-top: 10px; */
}

.coach-carry-point {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.coach-carry {
  width: 100%;
  /* height: 250px; */
}
.coach-pickPoints {
  width: 100%;
}
.carry-list {
  padding: 0px 20px;
}

.session-list {
  /* padding: 0px 20px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.session-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.session-conatiner p {
  line-height: 24.95px;
  font-weight: 400;
  font-size: 16.12px;
  font-family: "DM Sans", Arial, sans-serif;
  color: #858585;
}
.coach-section p {
  line-height: 24.95px;
  font-weight: 400;
  font-size: 16.12px;
  font-family: "DM Sans", Arial, sans-serif;
  color: #858585;
}
.coaches-list {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.coaches-card {
  text-align: center;
}

.coach-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.coach-name {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0;
}

.coach-title {
  font-size: 12px;
  font-weight: 400;
  color: #a0a0a0;
  margin: 0;
}
.sports-list {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sportes-card {
  text-align: center;
}

.sports-img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.sport-name {
  font-size: 14px;
  color: #4f4f4f;
  margin: 0;
}
.map-container {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 0.3889vw, 20px);
}
.map-container iframe {
  height: clamp(200px, 22.5694vw, 325px);
}

/* right section */

.coach-right-section {
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  gap: clamp(6px, 0.3889vw, 20px);
  /* max-height: 500px; */
  /* box-shadow: 0px 4.08px 4.08px 0px #1163c740; */
}

.coach-right-section:first-of-type {
  height: 500px;
  height: clamp(200px, 34.7222vw, 500px);
}
.location-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  text-decoration: none;
  /* padding: 12px 0; */
  /* border-bottom: 1px solid #f0f0f0; */
  color: inherit;
  align-items: center;
}

.location-item:last-child {
  border-bottom: none;
}

.icon {
  height: 25px;
  width: 25px;
  /* margin-top: 3px; */
}
.locationlogo {
  height: 25px;
  width: 25px;
}

.location-text {
  flex: 1;
}

.address {
  font-size: 16.47px;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
  color: #272727;
  line-height: 22.39px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtext {
  font-size: 15.47px;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
  color: #858585;
  line-height: 22.39px !important;
}

.arrow {
  font-size: 30px;
  color: #2971ac;
  /* margin-left: 8px; */
  /* border: 1.68px solid #2971AC; */
  /* margin-top: 2px; */
}

.award-des {
  padding: 0px 20px;
  color: #1163c7;
  font-size: 15.47px;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
  line-height: 24.89px;
}
.certificate {
  width: 191.81143188476562px;
  height: 114.85713958740234px;
  border-radius: 22.97px;
}
.coach-right-section-button {
  border: 1px solid #1163c7;
  border-radius: 12px;
  padding: 1rem;
  background-color: #1163c7;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.coach-btn {
  color: #ffffff;
  background-color: #1163c7;
  border: none;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
}

/* Reviews */

.ratings-carousel {
  font-family: "Lato", sans-serif;
  margin-top: 50px;
}

.review-heading {
  font-size: 24px;
  font-weight: 500;
  color: #172a39;
  margin-bottom: 20px;
}

.review-carousel-container {
  display: flex;
  /* gap: 20px; */
  overflow: hidden;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  gap: clamp(10px, 2.0833vw, 30px);
  margin-top: 20px;
  margin-bottom: 50px;
}

.carousel-buttons button {
  width: clamp(50px, 4.1667vw, 60px);
  height: clamp(50px, 4.1667vw, 60px);
  background-color: #1163c7;
  border: none;
  color: #ffffff;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  transition: background 0.3s ease;
}

@media (max-width: 1200px) {
  .coach-carry-point {
    flex-direction: column;
    gap: 0px;
  }
}

@media (max-width: 945px) {
  .coach-wrapper {
    flex-direction: column;
  }
  .coach-left,
  .coach-right {
    width: 100%;
  }
  .coach-carry-point {
    flex-direction: column;
  }
  .coach-right-section {
    gap: 20px;
  }
  .coach-right-section:first-of-type {
    height: 500px;
  }
  .map-container iframe {
    height: 325px;
  }
  .map-container {
    gap: 20px;
  }

    .gym-right-section-p{
    font-size: 16px !important;
    line-height: 23.4px !important;
  
  }
}

@media (max-width: 440px) {
  .coach-name {
    font-size: clamp(12px, 3.1818vw, 14px);
  }
  .coach-title {
    font-size: clamp(11px, 2.7273vw, 12px);
  }
}


.award-wrapper img{
  width: clamp(191px, 13.2639vw, 191px);
  height: clamp(114px, 7.9167vw, 114px);
}