.gallery-container {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    border: none;
    border-radius: 6px;
    height: 305px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
=======
=======
>>>>>>> Stashed changes
   border: none;
  border-radius: 16px;
  /* background-color: #eaeceb; */
  /* padding: 30px 20px;  */
  height: 350px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 20px 0;
  /* overflow-x: scroll; */
  
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}

/* ✅ Custom WebKit Scrollbar (for Chrome, Edge, Brave, etc.) */
.gallery-container::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

.gallery-container::-webkit-scrollbar-track {
  background: #1163c7; /* scrollbar background (track) */
  border-radius: 4px;
}

.gallery-container::-webkit-scrollbar-thumb {
  background-color: #dddfe1; /* scrollbar color */
  border-radius: 4px;
}

.gallery-container::-webkit-scrollbar-thumb:hover {
  background-color: lightgray; /* hover color */
}
