* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f3f2;
  color: #333;
}

.Event-main-header {
  position: relative;
  left: 0%;
  right: 50%;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 25px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 208px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 100px;
  justify-content: center;
}

.breadcrumb {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  font-family: "DM Sans", Arial, sans-serif;
}

.event-name {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 44px;
}

.event-location-rating {
  display: flex;
  gap: 20px;
  color: #172a39;
  font-size: 16px;
  font-weight: 500;
  font-family: "DM Sans", Arial, sans-serif;
}

.event-details-container {
  margin: 0 auto;
  max-width: 1240px;
}

.event-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-left {
  flex: 1 1 55%;
  position: relative;
  max-width: 821px;
}

.event-right {
  background-color: #f1f3f2;
  border-radius: 10px;
  border: 1px solid #f1f3f2;
  max-width: 405px;
}

.event-image-carosal {
  height: 500px;
  margin-top: 1rem;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* padding: 1rem; */
}

.event-swiperslide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-swiperslide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-section {
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.event-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.event-heading {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #172a39;
  line-height: 27.2px;
}

.event-description {
  font-size: 16px;
  line-height: 21.67px;
  color: #272727;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
}

.read-more-btn {
  background-color: transparent;
  border: none;
  color: #1163c7;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  line-height: 21.67px;
  font-weight: 400;
  font-size: 16px;
  font-family: "DM Sans", Arial, sans-serif;
  text-transform: capitalize;
  /* margin-top: 10px; */
}

.event-guide-content {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.guide-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guide-label {
  font-weight: 500;
  font-size: 14px;
  font-family: "DM Sans", Arial, sans-serif;
  line-height: 21.67px;
  color: #000000;
}

.guide-value {
  font-weight: 400;
  font-size: 14px;
  font-family: "DM Sans", Arial, sans-serif;
  line-height: 21.67px;
  color: #858585;
}

.guide-value.no {
  color: #b0b0b0;
}
.event-carry-point {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.5rem;
}
.event-carry,
.event-pickPoints {
  width: 100%;
}
.carry-list {
  padding: 0px 20px;
  font-weight: 400;
  font-size: 16px;
  font-family: "DM Sans", Arial, sans-serif;
  line-height: 23.4px;
  color: #b1b1b1;
}

.event-term_policy {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.5rem;
}

.terms,
.policy {
  width: 403px;
  /* border: 1px solid #a3d0ffde; */
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.67px;
  color: #172a39;
   border: 2px solid transparent;
  background-image:
    linear-gradient(white, white),
    linear-gradient(270deg, #1163c7, #a3d0ff, #1163c7);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
  background-size: 200% auto;
  animation:
    move-border 3s linear infinite,
    glow-pulse 3s ease-in-out infinite;
}

/* right section */
.event-right-section {
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 4.08px 4.08px 0px #1163c740;
  max-height: 500px ;
}

.meetup-select {
  /* padding: 0.8rem 2rem; */
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #1163c7;
  color: #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  height: 52px;
  font-family: "DM Sans", Arial, sans-serif;
}
.map-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.event-right-section-button {
  border: 1px solid #1163c7;
  border-radius: 12px;
  padding: 1rem;
  background-color: #1163c7;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.event-btn {
  color: #ffffff;
  background-color: #1163c7;
  border: none;
  font-size: large;
}

/* Reviews */

.ratings-carousel {
  font-family: "Lato", sans-serif;
}

.review-heading {
  font-size: 24px;
  font-weight: 500;
  color: #172a39;
  margin-bottom: 20px;
}

.review-carousel-container {
  display: flex;
  /* gap: 20px; */
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.carousel-buttons button {
  width: 60px;
  height: 60px;
  background-color: #1163c7;
  border: none;
  color: #ffffff;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* banners
 */
/* .event-banner-container {
    margin: 2rem 0rem;
}

.event-banner-heading {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 21.67px;
  color: #172a39;
  margin-bottom: 30px;
}

.event-banner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 gap: 2rem; 
}

.event-banner-img {
    width: 350px;
    height: 170px;
} */

.event-banner-container {
  overflow: hidden;
  padding: 12px;
  margin-bottom: 50px;
}

.event-banner-heading {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 21.67px;
  color: #172a39;
  margin-bottom: 30px;
}

.event-banner-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.event-banner-track {
  display: flex;
  width: max-content;
  animation: scroll-left 40s linear infinite;
}

.event-banner {
  flex: 0 0 auto;
  margin-right: 20px; /* space between banners */
}

.event-banner-img {
  width: 300px;     /* adjust as needed */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Animation Keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
