body {
  font-family: 'Segoe UI', sans-serif;
  background: #F1F3F2;
  color: #333;
  margin: 0;
  padding: 0;
}

.Partner-main-Container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* padding: 0 16px; */
}

.Partner-header {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  /* width: 100%; */
  border-radius: 0 0 60px 60px;
  padding: 50px 20px;
  border-top: 2px solid #1163C7;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  /* gap: 20px; */
  /* Optional spacing between left and right */
  flex-wrap: nowrap;
  /* Prevent wrapping unless on smaller screens */
}

.header-left {
  flex: 1;
  min-width: 0;
  /* padding-left: 78px; */
}





.header-left h1 {
  font-size: 64px;
  font-weight: 700;
  color: #172A39;
  font-family: "Lato", Arial, sans-serif;
}

.header-left h1 span {
  color: #1163C7;
}

.header-left p {
 font-size: 18px;
  margin-top: 10px;
  color: #757575;
  font-weight: 400;
  max-width: 500px;
  letter-spacing: 0.41px;

}

.button-group {
  margin-top: 50px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

}

.primary-btn,
.secondary-btn {
 /* padding: 12px 20px; */
  border-radius: 50px;
  border: 1px solid #1163C7;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  text-transform: uppercase;
  height: 58px;
  width: 161px;
  font-family: "Poppins";
  font-size: 20px;
    font-weight: 400;

}

.primary-btn {
  background-color: #1163C7;
  color: white;
}

.primary-btn:hover {
  background-color: #0d4da0;
}

.secondary-btn {
  background-color: white;
  color: #1163C7;
}

.secondary-btn:hover {
  background-color: #e6f0fd;
}

.header-right {
  /* flex: 1; */
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.carousel-img {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 4px;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #1163C7;
}
.zero-banner-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 100px;
}
