.slick-dots{

    bottom: 30px;
}
/* .slick-active{

} */

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #1163C7;
    width: 20px;
}

.slick-dots li button:before{

    color: #C6E5FF;
}

.slider-wrapper {

    height: 200px;
    border-radius: 12px 12px 0 0;
    overflow: hidden !important;
}

.slider-wrapper img:hover{

    border-radius: 12px 12px 0 0 !important;
    overflow: hidden !important;
}