.slick-dots{

    bottom: 30px;
}
/* .slick-active{

} */

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #1163C7;
    width: 20px;
}

.slick-dots li button:before{

    color: #C6E5FF;
}