.timeslot_section input {

    width: 60px;
    height: 33px;
    background-color: white;
    border: .5px solid #CDCDCD;

    
}

.timeslot_section input::placeholder{
  font-size: 12px;
}

.timeslot_buttons {

  overflow-x: scroll;
}


.time{

    font-family: 'Lato';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #172A39  !important;


}

.timeslot_section button{

  padding: 5px 10px;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  border: 0.76px solid #0000000D;
  background: #0000000D;
  font-size: 14px;
  margin: 10px 5px;
  text-wrap: nowrap;

}

.timeslot_section button.active {
  background: #1163C7;
  color: #fff;
}

/* This is comman class inner in card */
.inner{

     border: 0.89px solid #CDCDCD;
   padding: 15px 10px;
   border-radius: 10px;
   margin: 20px 0;
    
}

.book_a_time p {

    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: #1163C7;
    line-height: 24px;
}