.timeslot_section input{

    width: 100px;
    margin-left: 15px;

    
}

.time{

    font-family: 'Lato';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #172A39  !important;


}

.timeslot_section button{

  padding: 5px;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  border: 0.76px solid #0000000D;
  background: #0000000D;
  font-size: 12px;
  margin: 5px;
  width: 70px;

}

.timeslot_section button.active {
  background: #1163C7;
  color: #fff;
}

/* This is comman class inner in card */
.inner{

     border: 0.89px solid #CDCDCD;
   padding: 15px 10px;
   border-radius: 10px;
   margin: 20px 0;
    
}

.book_a_time p {

    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: #1163C7;
    line-height: 24px;
}