* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f1f3f2;
  color: #333;
}

.venue-detail {
  font-family: "Segoe UI", sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  color: #222;
}

.venue-main-header {
  position: relative;
  left: 0%;
  right: 50%;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 25px;
  /* border-bottom-left-radius: 50px; */
  border-bottom-left-radius: clamp(30px, 11.3636vw, 50px);
  /* border-bottom-right-radius: 50px; */
  border-bottom-right-radius: clamp(30px, 11.3636vw, 50px);
  height: 208px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding: 0px 100px; */
  padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
  justify-content: center;
}

.breadcrumb {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  /* margin-bottom: 10px;
  margin-left: 5rem;
  padding-top: 20px; */
  font-family: "DM Sans", Arial, sans-serif;
}

/* h1 {
  margin-left: 5rem;
  margin-bottom: 15px;
} */

.location-rating {
  display: flex;
  gap: 20px;
  color: #172a39;
  /* margin-bottom: 15px; */
  /* margin-left: 5rem; */
  font-size: 16px;
  font-weight: 500;
  font-family: "DM Sans", Arial, sans-serif;
}

.venue-details-container {
  padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
}

/* Wrapper */
.venue-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* padding: 24px; */
  /* max-width: 1400px; */
  margin: auto;
  /* gap: 24px; */
  justify-content: space-between;
}

/* Left Side (Image Carousel) */
.venue-left {
  flex: 1 1 55%;
  position: relative;
  max-width: 821px;
  width: clamp(300px, 57.0139vw, 821px);
}

.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 11px;
  margin-bottom: 20px;
}
/* 
.carousel-image {
  width: 100%;
  height: 461px;
  border-radius: 11px;
  object-fit: fill;
}

.carousel-hover {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.carousel-hover.left {
  left: 0;
}

.carousel-hover.right {
  right: 0;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff;
} */

.swiper {
  width: 100%;
  height: 500px;
  border-radius: 12px;
  /* padding: 1rem; */
}

.venue-swiperslide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-swiperslide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sports-wrapper {
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  /* height: 176px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  /* Gradient border */
}

.sports-header {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #172a39;
  line-height: clamp(6.04px, 1.8889vw, 27.2px);
}

.sports-header strong {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.sports-header .note {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #172a39;
  line-height: clamp(6.04px, 1.8889vw, 27.2px);
  color: #858585;
  margin-left: 10px;
}

.sports-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.sport-card {
  width: 93px;
  height: 93px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sport-card:hover {
  transform: translateY(-2px);
  outline: 2px solid #1163c7;
}

.sport-card img {
  height: 54px;
  width: 54px;
  /* margin-bottom: 0.5rem; */
}

.sport-card p {
  font-size: 12px;
  margin: 0;
  color: #000000;
  font-weight: 500;
  font-family: "Figtree", Arial, sans-serif;
}

/* Responsive */
@media (max-width: 768px) {
  .sports-grid {
    justify-content: space-between;
  }

  .sport-card {
    flex: 1 1 28%;
    max-width: 90px;
  }
}

/* Right Side (Venue Info) */
.venue-right {
  background-color: #f1f3f2;
  border-radius: 10px;
  border: 1px solid #f1f3f2;
  max-width: 405px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f1f3f2;
  border-radius: 10px;
  border: 1px solid #f1f3f2;
  width: clamp(200px, 27.9861vw, 403px);
}

.vb-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.vb-dates {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.vb-date-item {
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  width: 13%;
  cursor: pointer;
}

.vb-date-item.active {
  background-color: #0050c8;
  color: white;
}

.vb-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4.08px 4.08px 0px #1163c740;
}
.vb-pitch-options {
  box-shadow: 0px 4.08px 4.08px 0px #1163c740;
}

.vb-section label {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #172a39;
  line-height: clamp(6.04px, 1.8889vw, 27.2px);
  margin-bottom: 0.3rem;
}

.vb-sport-options,
.vb-time-periods,
.vb-time-slots,
.vb-pitch-options {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.vb-sport-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.vb-period-btn,
.vb-slot-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.vb-pitch-btn {
  padding: 0.4rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.vb-sport-btn.active,
.vb-period-btn.active,
.vb-slot-btn.active,
.vb-pitch-btn.active {
  background-color: #1163c7;
  color: white;
  border: none;
}

.vb-duration-time {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.vb-duration-box,
.vb-time-box {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.vb-availability-bar {
  display: flex;
  height: 4px;
  margin-top: 0.5rem;
}

.vb-availability-bar .green {
  background: green;
  flex: 1;
  margin-right: 2px;
}

.vb-availability-bar .red {
  background: red;
  flex: 1;
  margin-right: 2px;
}

.vb-proceed-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #0050c8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* Sections (Sports, Amenities) */
/* .section {
  margin-top: 20px;
} */

.section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #eef3f7;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 6px;
  color: #333;
  white-space: nowrap;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .venue-wrapper {
    flex-direction: column;
  }

  .venue-left,
  .venue-right {
    flex: 1 1 100%;
  }
}

@media (max-width: 600px) {
  .venue-wrapper {
    padding: 16px;
  }

  .venue-right h2 {
    font-size: 20px;
  }

  .btn-group {
    flex-direction: column;
  }

  .carousel-controls button {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }

  .tags {
    gap: 8px;
  }

  .tag {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.amenities-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  /* margin-top: 1rem; */
}

.amenities-box {
  background-color: #fff;
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  flex: 1;
  min-width: 895px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.owner-info {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
.rules-box {
  background-color: #fff;
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  flex: 1;
  min-width: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-family: "Figtree", Arial, sans-serif;
  font-weight: 600;
  font-size: 15.52px;
  line-height: 23.27px;
  letter-spacing: 0;
  margin-bottom: 0.5rem;
  color: #000000;
}

.amenity-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.amenity-tag {
  font-family: "Figtree", Arial, sans-serif;
  font-weight: 400;
  font-size: 13.58px;
  line-height: 19.39px;
  letter-spacing: 0;
  text-transform: capitalize;
  /* padding: 6px 12px; */
  border-radius: 6px;
  color: #000000;
  white-space: nowrap;
  gap: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .check-icon img {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.check-label {
  display: inline;
  font-size: 14px;
} */

.dots {
  width: 16px;
  height: 16px;
  background-color: #1163c7;
  border-radius: 50%;
  display: inline-block;
}

.rules-box {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* Gradient border */
  border: 2px solid transparent;
  background-image:
    linear-gradient(#fff, #fff), linear-gradient(90deg, #1163c7, #a3d0ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.section-title {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.67px;
  letter-spacing: 0;
}

.arrow {
  font-size: 24px;
  color: #1163c7;
  font-weight: bold;
}

.form-error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .amenities-wrapper {
    flex-direction: column;
  }
}

.rating-wrapper {
  width: 100%;
  margin-top: 50px;
}

.ratings-carousel {
  /* min-width: 1200px; */
  /* margin: auto; */
  /* padding: 0px 100px; */
  font-family: "Lato", sans-serif;
  margin-top: 50px;
}

.heading {
  font-size: 24px;
  font-weight: 500;
  color: #0c1f3f;
  margin-bottom: 20px;
  font-family: "Lato", Arial, sans-serif;
}

.review-carousel-container {
  display: flex;
  /* gap: 25px; */
  overflow: hidden;
  padding-bottom: 10px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  gap: clamp(10px, 2.0833vw, 30px);
  margin-top: 20px;
  margin-bottom: 50px;
}

.carousel-buttons button {
  width: clamp(50px, 4.1667vw, 60px);
  height: clamp(50px, 4.1667vw, 60px);
  background-color: #1163c7;
  border: none;
  color: #ffffff;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Responsive Behavior */
@media (max-width: 1024px) {
  .review-carousel-container {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .review-card {
    flex: 0 0 auto;
    scroll-snap-align: center;
  }
}

@media (max-width: 768px) {
  .ratings-carousel {
    min-width: 100%;
  }

  .review-carousel-container {
    flex-direction: column;
    align-items: left;
  }

  .carousel-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .carousel-buttons button {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}
.banner {
  margin-bottom: 75px;
}
.banner-wrapper {
  max-width: 100%;
}

.event-banner-container {
  overflow: hidden;
  padding: 12px;
}

.event-banner-heading {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 21.67px;
  color: #172a39;
  margin-bottom: 30px;
}

.event-banner-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.event-banner-track {
  display: flex;
  width: max-content;
  animation: scroll-left 40s linear infinite;
}

.event-banner {
  flex: 0 0 auto;
  margin-right: 20px; /* space between banners */
}

.event-banner-img {
  width: 300px; /* adjust as needed */
  /* height: auto; */
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
}

.amenities_tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.amt-img {
  height: 20px;
  width: 20px;
}

.map-container {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 0.3889vw, 20px);
}

/* Animation Keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .image-banner {
    width: 100%;
  }
}

/* MODAL STYLES */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal-content {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  max-width: 960px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #007aff;
  cursor: pointer;
}

.gym-right-section-p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(3.56px, 1.1111vw, 16px);
  line-height: clamp(5.2px, 1.63vw, 23.4px);
  color: #172a39;
}

@media (max-width: 1200px) {
  .gym-carry-point {
    flex-direction: column;
    gap: 0px;
  }
  .gym-carry,
  .gym-pickPoints,
  .terms,
  .policy {
    width: 100%;
  }
  .gym-carry {
    height: auto;
  }
  .timing-item,
  .range {
    font-size: 16px;
  }
}

@media (max-width: 945px) {
  .gym-wrapper {
    flex-direction: column;
  }
  .gym-left,
  .gym-right {
    width: 100%;
  }

  .gym-carry-point {
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  .timing-item,
  .range {
    font-size: clamp(12px, 3.1818vw, 14px);
  }
  .coach-name {
    font-size: clamp(12px, 3.1818vw, 14px);
  }
  .coach-title {
    font-size: clamp(11px, 2.7273vw, 12px);
  }
  .gym-description {
    font-size: clamp(15px, 3.6364vw, 16px);
  }

  .amenities_tag {
    gap: 2px;
    font-size: clamp(12px, 3.6364vw, 16px);
  }
  .gym-amenities {
    gap: 10px;
  }
  .amt-img {
    width: clamp(10px, 4.5455vw, 20px);
    height: clamp(10px, 4.5455vw, 20px);
  }
}
