/* .nav-arrow.gym-left {
  visibility: hidden;
}

.breadcrumb {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  font-family: "DM Sans";
}

.breadcrumb {
  margin-bottom: 20px;
}

.location-rating {
  display: flex;
  color: #172a39;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  font-family: "DM Sans";
  flex-wrap: wrap;
}

.venue-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 11px;
  margin-bottom: 20px;
  height: clamp(200px, 34.7222vw, 500px);
}

.map-container iframe {
  height: clamp(200px, 22.5694vw, 325px);
}

.venue-icon-topwrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 8px;
  z-index: 999;
}

.venue-icon-btns {
  background-color: transparent;
  border: none;
}

.swiper {
  width: 100%;
  border-radius: 12px;
}

.venue-swiperslide {
  width: 100% !important;
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-swiperslide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: clamp(200px, 34.7222vw, 500px);
}

.sports-wrapper {
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sports-header {
  font-size: 18px;
  font-family: "Lato";
  font-weight: 600;
  color: #172a39;
  line-height: clamp(6.04px, 1.8889vw, 27.2px);
}

.sports-header strong {
  font-size: 18px;
  font-family: "Lato";
  font-weight: 600;
}

.sports-header .note {
  font-size: 18px;
  font-family: "Lato";
  font-weight: 600;
  color: #858585;
  margin-left: 10px;
}

.sports-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.sport-card {
  height: 93px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sport-card:hover {
  transform: translateY(-2px);
  outline: 2px solid #1163c7;
}

.sport-card img {
  height: 45px;
  width: 45px;
}

.sport-card p {
  font-size: 12px;
  margin: 0;
  color: #000000;
  font-weight: 500;
  font-family: "Figtree", Arial, sans-serif;
}

.venue-right h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.sub-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.venue-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.sport-card {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  transition: 0.3s ease;
}

.sport-card.selected-sport {
  border: 2px solid #1163C7; /* blue border when selected */
  box-shadow: 0 0 8px rgba(17, 99, 199, 0.3);
}

.sport-card {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  transition: 0.3s ease;
}

.sport-card.selected-sport {
  border: 2px solid #1163C7;
  box-shadow: 0 0 8px rgba(17, 99, 199, 0.3);
}


.venue-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 1;
  padding: 0.5rem;
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s;
  font-size: 16px;
  margin-bottom: 10px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #1163c7, #a3d0ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.venue-icon {
  height: 22px;
  width: 22px;
}

.venue-timing-price {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 0.75rem;
  border-radius: 11px;
  font-size: 14px;
  border: 1px solid #d6e4f0;
}

.venue-map iframe {
  border: none;
  border-radius: 10px;
  width: 100%;
}

.detail-box {
  margin-bottom: 16px;
}

.detail-box strong {
  color: #333;
}

.map-box {
  margin-top: 8px;
  height: 180px;
  background: #dfe6ed;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vb-section label {
  font-size: 18px;
  font-family: "Lato";
  font-weight: 400;
  color: #172a39;
  line-height: clamp(6.04px, 1.8889vw, 27.2px);
  margin-bottom: 0.3rem;
}

.vb-sport-options,
.vb-time-periods,
.vb-time-slots,
.vb-pitch-options {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.vb-sport-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  color: #858585;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16.12px;
  line-height: 24.95px;
}

.vb-period-btn,
.vb-slot-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.vb-pitch-btn {
  padding: 0.4rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.court-placeholder {
  margin-bottom: 0;
}

.vb-sport-btn.active,
.vb-period-btn.active,
.vb-slot-btn.active,
.vb-pitch-btn.active {
  background-color: #1163c7;
  color: white;
  border: none;
}

.vb-duration-time {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.vb-duration-box,
.vb-time-box {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.vb-availability-bar {
  display: flex;
  height: 4px;
  margin-top: 0.5rem;
}

.vb-availability-bar .green {
  background: green;
  flex: 1;
  margin-right: 2px;
}

.vb-availability-bar .red {
  background: red;
  flex: 1;
  margin-right: 2px;
}

.vb-proceed-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #0050c8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #eef3f7;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 6px;
  color: #333;
  white-space: nowrap;
}

.form-error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

.venue-right-section {
  border: 1px solid #d6e4f0;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 4.08px 4.08px 0px #1163c740;
}

.venue-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #172a39;
  line-height: 27.2px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-primary,
.btn-secondary {
  width: 403px;
  height: 46.8px;
  border-radius: 11px;
  border-width: 0.97px;
  border-style: solid;
  border-color: transparent;
  background-color: #1163c7;
  color: white;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  transition: background 0.3s;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 600;
}

.btn-secondary {
  background-color: #ffffff;
  color: #1163c7;
  border: 1px solid #d6e4f0;
}

@keyframes move-border {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 8px rgba(163, 208, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 12px rgba(163, 208, 255, 0.5), 0 0 20px rgba(163, 208, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 8px rgba(163, 208, 255, 0.3);
  }
}

.rating-wrapper {
  width: 100%;
  margin-top: 50px;
}

.banner {
  margin-bottom: 75px;
}

.review-heading,
.banner-heading {
  font-size: 24px;
  font-weight: 500;
  color: #172a39;
  margin-bottom: 20px;
}

.review-carousel-container {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: clamp(10px, 2.0833vw, 30px);
  margin-top: 20px;
  margin-bottom: 50px;
}

.carousel-buttons button {
  width: clamp(50px, 4.1667vw, 60px);
  height: clamp(50px, 4.1667vw, 60px);
  background-color: #1163c7;
  border: none;
  color: #ffffff;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.banner-wrapper {
  max-width: 100%;
}

.event-banner-container {
  overflow: hidden;
  padding: 12px;
}

.event-banner-heading {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 21.67px;
  color: #172a39;
  margin-bottom: 30px;
}

.event-banner-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.event-banner-track {
  display: flex;
  width: max-content;
  animation: scroll-left 40s linear infinite;
}

.event-banner {
  flex: 0 0 auto;
  margin-right: 20px;
}

.event-banner-img {
  width: 300px;
  height: 160.2px;
  border-radius: 8px;
  object-fit: cover;
}

.venue-nav button img {
  display: flex;
}

.amenities_tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.amt-img {
  height: 20px;
  width: 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .ratings-carousel {
    min-width: 100%;
  }

  .review-carousel-container {
    flex-direction: column;
    align-items: left;
  }

  .carousel-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .carousel-buttons button {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}

@media (max-width: 540px) {
  .venue-detail {
    padding: 16px;
    padding-bottom: 20px;
  }

  .breadcrumb {
    font-size: 14px;
  }

  h1 {
    font-size: 22px;
  }

  .venue-name {
    font-size: 22px;
  }

  .location-rating {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .venue-wrapper {
    padding: 0px;
    flex-direction: column;
  }

  .venue-right h2,
  .heading,
  .banner-heading {
    font-size: 20px;
    text-align: left;
  }

  .section-title {
    font-size: 16px;
  }

  .btn-group {
    flex-direction: column;
    gap: 8px;
  }

  .carousel-buttons button {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .tags {
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
  }

  .tag {
    font-size: 12px;
    padding: 5px 10px;
  }

  .review-carousel-container {
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
  }

  .review-card {
    flex: 1 1 auto;
    min-width: 90%;
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 540px) {
  .vb-sport-btn {
    padding: 10px;
    font-size: 16px;
  }
}

.gym-right-section-p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(3.56px, 1.1111vw, 16px);
  line-height: clamp(5.2px, 1.63vw, 23.4px);
  color: #172a39;
}

@media (max-width: 1200px) {
  .gym-carry-point {
    flex-direction: column;
  }

  .gym-carry,
  .gym-pickPoints,
  .terms,
  .policy {
    width: 100%;
  }

  .gym-carry {
    height: auto;
  }

  .timing-item,
  .range {
    font-size: 16px;
  }
}

@media (max-width: 945px) {
  .gym-wrapper {
    flex-direction: column;
  }

  .gym-left,
  .gym-right {
    width: 100%;
  }

  .gym-carry-point {
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  .timing-item,
  .range {
    font-size: clamp(12px, 3.1818vw, 14px);
  }

  .coach-name {
    font-size: clamp(12px, 3.1818vw, 14px);
  }

  .coach-title {
    font-size: clamp(11px, 2.7273vw, 12px);
  }

  .gym-description {
    font-size: clamp(15px, 3.6364vw, 16px);
  }

  .amenities_tag {
    gap: 2px;
    font-size: clamp(12px, 3.6364vw, 16px);
  }

  .gym-amenities {
    gap: 10px;
  }

  .amt-img {
    width: clamp(10px, 4.5455vw, 20px);
    height: clamp(10px, 4.5455vw, 20px);
  }
} */
