.carousel-card-container {
  width: 100%;
  overflow: hidden;
  /* padding: 20px; */
  padding: 0 clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
  margin-top: clamp(25px, 2.78vw, 40px);
  margin-bottom: clamp(25px, 2.78vw, 40px);
  box-sizing: border-box;
}

.carousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card {
  /* min-width: 250px; */
  /* max-width: 300px; */
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  height: clamp(180px, 13.46vw, 194px);
  width: clamp(260px, 15.24vw, 277px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.card-icon {
  width: clamp(54px, 4.72vw, 68px);
  height: clamp(54px, 4.72vw, 68px);
  /* height: 40px; */
  /* margin-bottom: 16px; */
}

.card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 1.53vw, 24px);
  line-height: 120%; /* or line-height: 1.2; */
  letter-spacing: 0.35px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}

.card-subtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 0.97vw, 14px);
  line-height: 140%; /* or line-height: 1.4; */
  letter-spacing: 0.35px;
  text-align: center;
  vertical-align: middle;
  color: #172a39;
  margin: 0px;
  width: 100%;
  /* margin-top: 10px; */
}

.highlight {
  color: #1163c7;
}

/* .highlighted {
  border: 2px solid #007bff;
} */

.carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Desktop view — no scroll */
@media (min-width: 1200px) {
  .carousel {
    overflow-x: hidden;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* Hide scrollbar */
  .carousel::-webkit-scrollbar {
    display: none;
  }

  .card {
    /* flex: 0 0 22%;  */
    margin-bottom: 20px;
  }
}
