.calendar-container {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  max-width: 100%;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); */
  border: 0.39px solid #cdcdcd;
  box-shadow: 0px 4.08px 4.08px 0px #1163c740;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* gap: 1rem; */
  margin-bottom: 0.5rem;
  color: #1163c7;
  font-size: 16px;
  gap: 20px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #1163c7;
  width: 62.82px;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1; */
  cursor: pointer;
  padding: 0.4rem 0;
  border-radius: 10px;
  color: #999;
  transition: all 0.2s;
  height: 55px;
}

.calendar-day:hover {
  background-color: #f2f2f2;
  font-weight: bold;
  border-radius: 18px;
  width: clamp(13.96px, 4.3611vw, 62.8206px);
  height: clamp(20.8px, 6.504vw, 93.6382px);
  align-items: center;
  justify-content: center;
}

.calendar-day.active {
  background-color: #1163c7;
  color: white !important;
  font-weight: bold;
  border-radius: 18px;
  width: clamp(13.96px, 4.3611vw, 62.8206px);
  height: clamp(20.8px, 6.504vw, 93.6382px);
  align-items: center;
  justify-content: center;
}

.calendar-day.disabled {
  color: #ccc;
  pointer-events: none;
}

.calendar-day-number {
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: clamp(4.51px, 1.4104vw, 20.31px);
  line-height: 30.82px;
  letter-spacing: 0.36px;
  /* color: rgba(0, 0, 0, 0.4); */
}

.calendar-day-label {
  font-size: clamp(3.51px, 1.0965vw, 15.79px);
}

@media (max-width: 945px) {
  .calendar-day.active {
    width: 62.8206px;
    height: 93.6382px;
    border-radius: 12px;
  }
  .calendar-day-number {
    font-size: 20.31px;
  }
  .calendar-day-label {
    font-size: 15.79px;
  }
  .calendar-week {
    max-width: 500px;
    margin: 0 auto;
  }
}
