.checkout-box {
  background-color: white;
  font-family: sans-serif;
  color: #333;
}

.section-title {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;
  /* padding: 6px 0; */
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 21.34px;
  padding-top: 8.54px;
}

.insurance-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding: 10px 0px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 21.34px;
  color: #272727;
  height: 56px;
}

.insurance-row input {
  margin-right: 6px;
  height: 17px;
  width: 17px;
  border: 1.71px solid #BDBDBD;
  border-radius: 3.41px;
}

.coupon {
  color: #ff6100;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid #eee;
  height: 61px;
  align-items: center;
}

.arrow {
  font-weight: bold;
}

.total {
  border-top: 1px solid #eee;
  /* margin-top: 10px; */
  /* padding-top: 12px; */
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  height: 40px;
  align-items: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #172a39;
}

.total-amount {
  color: #0078ff;
   font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
label {
  color: #272727;
  display: flex;
  align-items: center;
}
