.event-card {
  height: auto;
  border: 1px solid #e1e4e8;
  border-radius: 14px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
  position: relative;
  text-decoration: none;
}

.event-image-section {
  position: relative;
}

.event-img {
  width: 100%;
  height: 304px;
  padding: 7.7px;
  object-fit: cover;
  border-radius: 12px;
}

.icon-top-right {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  /* gap: 6px; */
  padding: 8px;
}

.icon-bottom-left {
  position: absolute;
  bottom: 15px;
  left: 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.icon-btns {
  background: none;
  border: none;
}

.icon-img-btn {
  width: 25px;
  height: 25px;
  background: #00000080;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  object-fit: contain;
  margin-bottom: 7px;
  margin-left: 7px;
}

.event-content {
  padding: 7.7px;
}
.events-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.event-title {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 4px;
  color: #272727;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  display: block;
}

.event-rating {
  font-size: 13px;
  color: #272727;
  margin-bottom: 6px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 500;
}

.event-rating .light-text {
  font-size: 13px;
  color: #272727;
  margin-bottom: 6px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 500;
  margin-left: 4px;
}

.event-time {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #858585;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-time span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-time-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.event-location {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #858585;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
}

.event-location span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 0.43px solid rgba(41, 113, 172, 1);
  padding-top: 8px;
  font-size: 15px;
}

.event-offer {
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  color: #fc8019;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
}

.event-price {
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  color: #006eff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
  text-align: right;
}

@media (max-width: 500px) {
  .event-card {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: auto !important;
  }

  .event-img {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
  }
}
