/* FilterPopup.css */

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-drawer {
  background: white;
  border-radius: 16px;
  width: 90%;
  max-width: 550px;
  height: 700px;
  padding: 1.5rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

/* Header */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-header h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #172a39;
}
.filter-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.close-btn {
  font-size: 30px;
  background: none;
  border: none;
  color: #0056d2;
  cursor: pointer;
}

/* Sports Section */
.filter-section {
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 1rem;
  margin: 1rem 0;
}

.filter-section h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.sports-container {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 1rem;
  background: #fff;
  max-width: 500px;
  margin: auto;
}

.sports-title {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.search-box input {
  width: 90%;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sports-scroll-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  margin-top: 1rem;
}

.sports-scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.sports-scroll {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem 0;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.sport-item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 64px;
  cursor: pointer;
  user-select: none;
  scroll-snap-align: start;
}

.sport-item img {
  height: 40px;
  width: 40px;
}

.sport-item span {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  text-align: center;
  color: #333;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.dot {
  height: 6px;
  width: 6px;
  margin: 0 3px;
  border-radius: 50%;
  background: #d1e6fd;
  transition:
    width 0.3s ease,
    background 0.3s ease;
}

.dot.active {
  background: #0072db;
    width: 25px;
    border-radius: 20px;
}

/* Availability Section */
.calendar-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.calendar-date {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
}

.calendar-date.active {
  background-color: #0056d2;
  color: white;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  color: #1f1f1f;
  margin: 0.5rem 0;
}

.time-select {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

.selected-time {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: -10px;
}

.timeslots {
  padding: 0.5rem 0.2rem;
  border-radius: 8px;
  /* border: 1px solid #ccc; */
  /* background: #f9f9f9; */
  font-size: 0.85rem;
  cursor: pointer;
}

.active {
  background: #0056d2;
  color: white;
  border-color: #0056d2;
}

/* Footer Buttons */
.popup-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn {
  flex: 1;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.reset-btn {
  background: white;
  border: 1.5px solid #0056d2;
  color: #0056d2;
}

.apply-btn {
  background: #0056d2;
  border: none;
  color: white;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .filter-popup {
    border-radius: 16px;
    align-self: center;
    max-height: 20vh;
  }
}
@media (pointer: coarse) {
  .sports-scroll-wrapper {
    pointer-events: auto;
  }
}
