.calendar-container {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  max-width: 100%;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); */
  border: 0.39px solid #cdcdcd;
  box-shadow: 0px 4.08px 4.08px 0px #1163c740;
}

.calendar-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  /* gap: 1rem; */
  margin-bottom: 0.5rem;
  color: #1163c7;
  font-size: 16px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #1163c7;
  width: 62.82px;
}

/* New wrapper to enable horizontal scrolling */
.calendar-week-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* iOS momentum scrolling */
  scrollbar-width: none;
  /* Firefox */
  margin-bottom: 0.5rem;
}

/* Hide scrollbar for webkit browsers */
.calendar-week-wrapper::-webkit-scrollbar {
  display: none;
}

/* Keep existing week layout inside */
.calendar-week {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  flex-direction: column;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1; */
  cursor: pointer;
  padding: 0.4rem 0;
  border-radius: 3px;
  color: #999;
  transition: all 0.2s;
  height: 60px;
  width: 40px;
  border: 0.5px solid #b1b1b1;
}

.calendar-day:hover {
  background-color: #f2f2f2;
  font-weight: bold;
  border-radius: 3px;
  /* width: clamp(13.96px, 4.3611vw, 62.8206px);
  height: clamp(20.8px, 6.504vw, 93.6382px); */
  align-items: center;
  justify-content: center;
}

.calendar-day.active {
  background-color: #1163c7;
  color: white !important;
  font-weight: bold;
  height: 60px;
}

.calendar-day.today {
  font-weight: bold;
  /* border-radius: 12px; */
  /* width: 30px; */
  height: 60px;
}

.calendar-day.disabled {
  color: #ccc;
  pointer-events: none;
}

.calendar-day-number {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26.87px;
  letter-spacing: 0;
}

.calendar-day-label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  grid-area: 5px;
}

@media (max-width: 945px) {

  .calendar-day-number {
    font-size: 20.31px;
  }
  .calendar-day-label {
    font-size: 15.79px;
  }
  .calendar-week {
    max-width: 500px;
    margin: 0 auto;
  }
}
