.calendar-container {
    background: white;
    border-radius: 10px;
    padding: 1rem;
    max-width: 100%;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); */
    border: 0.39px solid #CDCDCD;

}

.calendar-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-weight: bold;
    /* gap: 1rem; */
    margin-bottom: 0.5rem;
    color: #1163C7;
    font-size: 16px;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #1163C7;
}

/* New wrapper to enable horizontal scrolling */
.calendar-week-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* iOS momentum scrolling */
    scrollbar-width: none;
    /* Firefox */
    margin-bottom: 0.5rem;
}

/* Hide scrollbar for webkit browsers */
.calendar-week-wrapper::-webkit-scrollbar {
    display: none;
}

/* Keep existing week layout inside */
.calendar-week {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    white-space: nowrap;
}


/* .calendar-week {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
} */

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    cursor: pointer;
    padding: 0.4rem 0;
    border-radius: 10px;
    color: #999;
    transition: all 0.2s;
    height: 55px;
}

.calendar-day:hover {
    background-color: #f2f2f2;
    font-weight: bold;
     border-radius: 12px;
    width: 30px;
    height: 55px;
}

.calendar-day.active {
    background-color: #1163C7;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    width: 30px;
    height: 55px;
}

.calendar-day.today {
    font-weight: bold;
    border-radius: 12px;
    width: 30px;
    height: 55px;
}

.calendar-day.disabled {
    color: #ccc;
    pointer-events: none;
}

.calendar-day-number {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18.6px;
    line-height: 26.87px;
    letter-spacing: 0;
}

.calendar-day-label {
    font-size: 0.8rem;
}

/* Responsive */
@media screen and (max-width: 500px) {
    .calendar-day-number {
        font-size: 0.9rem;
    }

    .calendar-day-label {
        font-size: 0.7rem;
    }

    .calendar-header span {
        font-size: 1rem;
    }
}