.gym-card {
  width: 300px;
  border-radius: 14.47px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
  background-color: white;
  overflow: hidden;
  font-family: sans-serif;
  border: 1px solid #e5e5e5;
  position: relative;
  max-height: 240px !important;
}

.gym-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  padding: 6.63px;
  border-radius: 18px;
  cursor: pointer;
}
.icon-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  display: flex;
  gap: 6px;
}
.icon-img-btn {
  width: 20px !important;
  height: 20px !important;
  background: #00000080;
  border-radius: 50%;
  padding: 3px !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 2px;
}
.icon-btns {
  background: none;
  border: none;
}

.card-content {
  padding: 0px 6.63px 6.63px 6.63px;
}

.title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gym-title {
  margin: 0;
  flex: 1;
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 4px;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  display: block;
}

.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
}

.star {
  color: #40a040;
  font-size: 14px;
}

.rating-value {
  font-weight: 500;
  font-family: "DM Sans", Arial, sans-serif;
  font-size: 14px;
  color: #272727;
}

.rating-count {
  font-weight: 500;
  font-family: "DM Sans", Arial, sans-serif;
  font-size: 14px;
  color: #272727;
}

.gym-location {
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  color: #858585;
  margin: 4px 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gym-footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2971ac;
  padding: 8px 0px;
  font-size: 15px;
}

.discount {
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  color: #fc8019;
  font-weight: 400;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
}

.price {
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  color: #006eff;
  font-weight: 400;
    white-space: nowrap;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
}

@media (max-width: 500px) {
  .gym-card {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: 100% !important;
  }

  .gym-image {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
  }
}
