/* Container styling */
.solutions-wrapper {
  padding: 10px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
  text-align: center;
  text-align: center;
  margin-top: 80px;
}

/* Heading */
.solutions-heading {
  font-size: clamp(27px, 3.33vw, 48px);
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  margin: 0px;
  color: #172a39;
  margin-bottom: 12px;
  line-height: 1.4;
}

.solutions-heading span {
  color: #1163c7;
}

/* Subheading paragraph */
.solutions-wrapper > p {
  /* font-size: 16px; */
  color: #000000;
  margin-bottom: 40px;
  font-family: "DM Sans", sans-serif;
  font-size: clamp(16px, 1.67vw, 24px);
  font-weight: 400;
  margin: 0;
}

/* Grid layout */
.solutions-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(700px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  padding: 38px 0px;
  gap: clamp(16px, 1.67vw, 24px);
  justify-items: center;
}

/* Individual card */
.solution-card {
  display: flex;
  align-items: center;
  gap: clamp(10px, 1.39vw, 20px);
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(17, 99, 199, 0.1);
  padding: clamp(8px, 1.39vw, 20px);
  max-width: clamp(350px, 36.78vw, 530px);
  /* height: 84px; */
  /* width: 100%; */
  border: 1px solid transparent;
}

.solution-card:hover{

  border: 1px solid #1163c7;
  transition: .3s ease-in-out;
}
/* Icon image styling */
.solution-icon {
  width: clamp(20px, 4.17vw, 60px);
  height: clamp(20px, 4.17vw, 60px);
  background-color: #e6f0ff;
  border-radius: 50%;
  padding: 10px;
  object-fit: contain;
  /* margin-left: 30px; */
}

/* Title inside card */
.solution-title {
  display: flex;
  align-items: flex-start;
  font-size: clamp(13px, 1.67vw, 24px);
  font-weight: 600;
  color: #1163c7;
  margin: 0;
  /* padding-left: 30px; */
  font-family: "Lato", sans-serif;
  text-align: left;
}

/* Description inside card */
.solution-description {
  /* font-size: 14px; */
  color: #172a39;
  margin: 0px;
  margin-top: 6px;
  /* padding-left: 30px; */
  font-family: "DM Sans", sans-serif;
 font-size: clamp(12px, 1vw + 1.6px, 16px);
  font-weight: 400;
  text-align: left;
  /* width: clamp(305px, 26.45vw, 381px) */
}

@media (max-width: 900px) {
.solutions-grid {
  display: flex;
    flex-direction: column;
  }
  .solution-card {
    /* width: 100%; */
    max-width: 100%;
  }
}
