/* MODAL STYLES */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 1rem;
  width: 100%;
  max-width: 960px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #007aff;
  cursor: pointer;
}

.price-chart {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
  font-family: "Segoe UI", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 2rem;
  margin: 0;
  color: #1b1b1b;
}

.close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #1163c7;
}

.venueName {
  color: #aaa;
  margin-top: 0.5rem;
  font-weight: 500;
}

.notes {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 2rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}

.column {
  flex: 1;
  min-width: 250px;
  max-width: 250px;
}

.column h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.slot {
  margin-bottom: 0.8rem;
}

.slot strong {
  display: block;
  color: #333;
  margin-bottom: 0.3rem;
}

.time-price {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  color: #333;
}

.price {
  color: #1163c7;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
    gap: 2rem;
  }
}
