.price-chart {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  max-width: 1000px;
  /* margin: auto; */
  margin-top: 1rem;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
  font-family: "Segoe UI", sans-serif;
}

.event-description {
  font-size: 16px;
  line-height: 21.67px;
  color: #272727;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 2rem;
  margin: 0;
  color: #1b1b1b;
}

.close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #1163c7;
}

.venueName {
  color: #aaa;
  margin-top: 0.5rem;
  font-weight: 500;
}

.notes {
  margin-top: 10px;
  font-size: 16px;
  line-height: 21.67px;
  color: #272727;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
  margin-bottom: 2rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1.5rem; */
  row-gap: 40px;
  justify-content: space-between;
}

.column {
  min-width: 250px;
}

.column h5 {
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  line-height: 31.14px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #172a39;
}
.day-group p {
  font-weight: 500;
  /* border-bottom: 1px solid #ddd; */
  line-height: 26.34px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #172a39;
  margin-top: 10px;
}
.slot {
  margin-bottom: 0.8rem;
}

.slot strong {
  display: block;
  color: #333;
  margin-bottom: 0.3rem;
}

.time-price {

    font-weight: 400;
  /* border-bottom: 1px solid #ddd; */
  line-height: 25.95px;
  font-family: "DM Sans", Arial, sans-serif;
  font-size: 16px;
  color: #172a39;
  margin-top: 10px;
}

.price {
  color: #1163c7;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
    gap: 2rem;
  }
}
