.review-card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow:
    0px 4.08px 4.08px 0px #00000026,
    0px 4.54px 4.54px 0px #0000001a;
  padding: 20px;
  /* width: 100%;
    max-width: 100%; */
  flex: 1;
  box-sizing: border-box;
  height: 181px;
  /* width: 403px; */
  width: clamp(340px, 27.9861vw, 403px);
  /* max-width: 450px;  */
  max-width: 403px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  font-size: 18px;
  font-weight: 400;
  color: #272727;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Roboto", sans-serif;
}

.star {
  color: green;
  font-size: 18px;
}

.text {
  /* margin: 10px 0; */
  font-size: 14px;
  color: #272727;
  line-height: 1.4;
  /* margin-bottom: 30px; */
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 19.68px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.name {
  font-weight: 500;
  color: #172a39;
  font-size: 18.16px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.time {
  font-size: 13.62px;
  color: #858585;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 1400px) {
  .review-carousel-container {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .review-carousel-container::-webkit-scrollbar {
    display: none;
  }


  .review-card {
    flex: 0 0 auto;
    width: clamp(340px, 27.9861vw, 403px);
    width: 100%;
  }
}
