.run-card {
  width: 299px;
  height: 435px;
  height: auto;
  border: 1px solid #e1e4e8;
  border-radius: 14.38px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
  position: relative;
}

.run-image-section {
  position: relative;
  padding: 7.7px;
}

.run-img {
  width: 284.1143493652344px;
  height: 296.77771px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-radius: 8.27px;
}

.icon-top-right {
  position: absolute;
  top: 12px;
  right: 10px;
  display: flex;
  gap: 2px;
  padding: 0px !important;
}

.icon-bottom-left {
  position: absolute;
  bottom: 15px;
  left: 8px;
  display: flex;
}

.icon-img-btn {
  width: 25px !important;
  height: 25px !important;
  background: #00000080;
  border-radius: 50%;
  padding: 3px !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 2px;
}

.icon-btns {
  background: none;
  border: none;
}

.run-content {
  padding: 7.7px;
}
.runs-middle {
  display: flex;
  justify-content: space-between;
}

.run-title {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 4px;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  display: block;
}

.run-rating {
  font-size: 17px;
  font-weight: 500;
  color: #4caf50;
  margin-bottom: 6px;
  font-family: "DM Sans", Arial, sans-serif;
}

.run-rating .light-text {
  font-weight: 500;
  font-family: "DM Sans", Arial, sans-serif;
  color: #272727;
  margin-left: 4px;
}

.run-time {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #858585;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}

.run-time img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.run-time span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.run-location {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #858585;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  width: 160px;
}
.run-location span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.run-location img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.run-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2971ac;
  padding-top: 8px;
  font-family: "DM Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.run-join {
  text-decoration: none;
  color: #1163c7;
  cursor: pointer;
  font-family: "DM Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.run-offer {
  color: #fc8019;
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
}

.run-price {
  color: #1163c7;
  cursor: pointer;
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
}

@media (max-width: 500px) {
  .run-card {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  .run-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}
