/* Card list wrapper */
.sport-event-card-wrapper {
  background-color: #F1F3F2;
}



.sport-card-cb {
  background-color: #fff;
  border: 1px solid #e0e7ff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.sport-card-cb:hover{

  border: 1px solid #1163c7;
  transition: .3s ease-in-out;
}

.sport-card-icon {
  width: clamp(40px, 5.69vw, 82px);
  height: clamp(40px, 5.69vw, 82px);
}

.sport-card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 1.7vw, 32px);
  line-height: 120%; /* Or use: line-height: 1.2; */
  letter-spacing: 0.41px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172a39;
  margin: 0px;
}


