.ticket-box {
  background: white;
  font-family: "Segoe UI", sans-serif;
}
.ticket-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.ticket-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.ticket-info {
  display: flex;
  flex-direction: column;
}

.ticket-label {
  font-weight: 600;
}

.ticket-price {
  font-size: 0.9rem;
  color: #666;
}

.ticket-counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticket-icon {
  width: 19.86px;
  height: 19.86px;
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.2s ease;
}

.ticket-icon:hover {
  transform: scale(1.1);
}

.ticket-icon.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.ticket-info {
  display: flex;
  flex-direction: column;
}

.ticket-label {
  font-size: 16.15px;
  font-weight: 500;
  font-family: "Lato";
  line-height: 23.33px;
  color: #172A39;
}

.ticket-price {
  font-size: 16.15px;
  font-weight: 500;
  font-family: "Lato";
  line-height: 23.33px;
  color: #1163c7;
}

.ticket-counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8.67px;
  gap: 8px;
  padding: 4px 8px;
 border: 1.08px solid #D8DCE3;
  height: 40px;
  width: 96.66667175292969px;
}

.ticket-counter button {
  background-color: #fff;
  border: 1px solid #0077ff;
  color: #0077ff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-counter button:hover {
  background-color: #0077ff;
  color: #fff;
}

.ticket-counter span {
  font-size: 16px;
  /* width: 20px; */
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #858585;
}
