.ticket-box {
  background: white;
  font-family: "Segoe UI", sans-serif;
}
.ticket-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.ticket-info {
  display: flex;
  flex-direction: column;
}

.ticket-label {
  font-size: 16.15px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  line-height: 23.33px;
  color: #172a39;
}

.ticket-price {
   font-size: 16.15px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  line-height: 23.33px;
  color: #1163C7;
}

.ticket-counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  gap: 8px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  height: 40px;
  width: 96.66667175292969px;
}

.ticket-counter button {
  background-color: #fff;
  border: 1px solid #0077ff;
  color: #0077ff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-counter button:hover {
  background-color: #0077ff;
  color: #fff;
}

.ticket-counter span {
  font-size: 16px;
  /* width: 20px; */
  text-align: center;
font-family: "DM Sans", sans-serif;
font-weight: 400;
color: #858585;
}
