.venue-card-wrapper {
  width: clamp(220px, 18.7vw, 298px);
  /* height: 320px !important; */
  border-radius: 1rem;
  overflow: hidden;
  background: white;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
}

.venue-image-container {
  position: relative;
  aspect-ratio: 16 / 9;
  padding: 6px;
}
.venue-nav button img {
  display: flex !important;
}

.venue-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* padding: 4.94px 6.63px; */
  border-radius: 15.33px;
  /* max-width: 285px; */
}

.venue-sports-icons {
  position: absolute;
  bottom: 15px;
  left: 12px;
  display: flex;
  gap: 4px;
}

.sport-iconvenue{
  width: 20px !important;
  height: 20px !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px !important;
  border-radius: 50%;
}

.venue-top-icons {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 2px;
}

.icon-btns {
  background: rgba(0, 0, 0, 0.5);
  padding: 6px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 25px !important;
  height: 25px !important;
  background: #00000080;
  border-radius: 50%;
  padding: 3px !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 2px;
}
.Like-icon {
  background: #00000080;
  border-radius: 50%;
}
.venue-details {
padding: 6px;
}

.venue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  max-height: 18px;
}

.venue-header h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 22.52px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #272727;
  margin: 0;
}

.venue-rating {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #006eff;
}
.value {
  color: #272727;
}

.venue-about {
  font-size: 15px;
  color: #858585;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
  height: 20px;
  /* Limit height */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* show only 2 lines */
  -webkit-box-orient: vertical;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.venue-locations {
  font-size: 15px;
  color: #858585;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 22.52px;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  margin-bottom: 8px;
}

.venue-footer {
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.58px solid;
  border-image: linear-gradient(180deg, #2971ac 0%, #031b2e 100%);
  border-image-slice: 1;
  padding: 5px 0px;
  width: 100%;
  box-sizing: border-box;
}

.venue-discount {
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  color: #fc8019;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
}

.venue-price {
  font-size: 15px;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 400;
  color: #006eff;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 140px;
  display: block;
}
@media (min-width: 768px) {
  .venue-card-wrapper {
    width: 100% !important;
  }
}
