
.mainEvent-carousel-container{
  background-color: #ffffff;
    padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
}

.Eventcarousel-container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  background: #ffffff;
}

.Eventcarousel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  gap: 16px;
  /* Adjust gap to control spacing between slides */

}


.Eventcarousel-slide {
 /* min-width: calc(50% - 13px); */
  /* Show 2 slides at a time */
  box-sizing: border-box;

}

.Eventcarousel-image{
  /* width: 100%; */
  border-radius: 16px;
  object-fit: cover;
  /* width: 612px; */
  width: 330px;
}

.Eventcarousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.Eventdot {
  width: 10px;
  height: 10px;
  background: #d8d8d8;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.Eventdot.active {
  background: #409eff;
}


