.book_venue_section .card {

    box-shadow: 0px 4px 4px 0px #1163C740;
    margin-bottom: 15px;
    border: none;
    position: relative;
    /* max-height: 404px; */

}

.rating {

    position: absolute;
    top: 10px;
    left: 10px;
    background: #0000004D;
    color: white;
    width: 70px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
     border-radius: 4px;
     text-align: center;
     border: 1px solid white;
   
}

.rating span{

    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;

}


.card_img img:hover{

    transform: scale(1.1);
    transition: .3s ease-in-out;


}



.card_icons .like {

    position: absolute;
    top: 10px;
    z-index: 999;
    right: 18%;
    height: 26px;
    width: 26px;

}

.card_icons .share {

    position: absolute;
    top: 10px;
    z-index: 999;
    right: 5%;
    height: 26px;
    width: 26px;


}



.sports_title p {

    color: #858585;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;

}

.offer p {

    font-weight: 400;
    font-size: 14px;
    color: #FC8019;
    margin-bottom: 0px;
}



.txt_wrapper {

    padding: 20px 16px 10px 16px !important;
}

.offer a {
    background-color: #1163C7;
    padding: 5px 16px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 26px;
    border-radius: 5px;
    font-family: 'DM Sans';
    border: 1px solid transparent;


}

.offer a:hover {

    border: 1px solid #1163C7;
    background-color: transparent;
    color: #1163C7;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 540px) {

    .book_venue_section .card h2{

        font-size: 20px;
        line-height: 30px;
    }
    
}