.book_venue_section .card {

   /* max-height: 450px; */
   /* min-height: 390px; */
   height: 100%;
   border: none;

}



.rating_box {
  top: 10px;              
  left: 10px;            
 background: #0000004D;
  border-radius: 4px;
  display: flex;
  padding: 5px 8px;
  align-items: center;
  gap: 5px;  
  border: 1px solid #fff;
  color: #fff;
  z-index: 5;    
  height: 24px;
}

.rating_box img {
  width: 10px;
  height: 10px;
  object-fit: contain;
}


.rating_box span{

    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 10px;
    color: white;

}


.card_img img:hover{

    transform: scale(1.1);
    transition: .3s ease-in-out;


}



.card_icons .like {

    position: absolute;
    top: 10px;
    z-index: 999;
    right: 18%;
    height: 26px;
    width: 26px;

}

.card_icons .share {

    position: absolute;
    top: 10px;
    z-index: 999;
    right: 5%;
    height: 26px;
    width: 26px;


}



.sports_title p {

    color: #858585;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;

}

.offer p {

    font-weight: 400;
    font-size: 14px;
    color: #FC8019;
    margin-bottom: 0px;
}



.txt_wrapper {

    padding: 20px 16px 10px 16px !important;
}


@media screen and (max-width:767px) {

    .book_venue_section .card {

   max-height: 350px;

}
    
}
@media screen and (max-width: 540px) {

    .book_venue_section .card h2{

        font-size: 20px;
        line-height: 30px;
    }

        .book_venue_section .card {

   max-height: unset;
   height: unset;

}

.text_wrap2{

    width: 190px;
}
    
}