.sports_title_km{

      color: #858585;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 16.54px;
}



.card_icons1{

  position: absolute;
  top: 10px;
  right: 10px;
}


.card{

  position: relative;
}


.card_icons .like {
  position: absolute;
  top: 0px;
  z-index: 999;
  right: 18%;
  height: 26px;
  width: 26px;
}

.card_icons .share {
  position: absolute;
  top: 0px;
  z-index: 999;
  right: 5%;
  height: 26px;
  width: 26px;
}


.sports_title p {
  color: #858585;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}

.upto_text  {
  font-weight: 400;
  font-size: 14px;
  color: #fc8019;
  margin-bottom: 0px;
}



.offer a {
  background-color: #1163c7;
  padding: 5px 16px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-decoration: none;
  line-height: 26px;
  border-radius: 5px;
  font-family: "DM Sans";
  border: 1px solid transparent;
  width: 100%;
  text-align: center;
}

.offer a:hover {
  border: 1px solid #1163c7;
  background-color: transparent;
  color: #1163c7;
  transition: 0.3s ease-in-out;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.more-sports {
  font-weight: 600;
  color: #007bff; 
  margin-left: 4px;
}

.price_info{

  color: #1163C7;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;

}

.sports_title_km p {

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #858585;
}