.danta-stats {
  position: relative;
  /* background-color: #0663c7; */
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  border-radius: 30px;
  min-height: 274px;
  /* background: url(../assets/datasat-wrapper.png) no-repeat center center; */
  background: url(../../assets/datasat-wrapper.png) no-repeat center center;

}

.danta-stats .danta-overlay {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

.danta-stats .stats-heading {
  font-size: 37.13px;
  font-weight: 700;
  /* margin-bottom: 10px; */
  font-family: "Lato", sans-serif;
}

.danta-stats .stats-subheading {
  font-size: 18.56px;
  font-weight: 500;
  /* margin-bottom: 50px; */
  color: #ffffff;
  margin: 10px;
  font-family: "DM Sans", Arial, sans-serif;
}

.stats-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 40px; */
  max-width: 740px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 32px;
}

.stat-item {
  flex: 1;
  min-width: 150px;
  position: relative;
}

.stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 80%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.stat-item h3 {
  font-size: 37.13px;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
}

.stat-item p {
  font-size: 14.85px;
  line-height: 1.4;
  color: #ffffff;
  font-weight: 400;
  font-family: "DM Sans", Arial, sans-serif;
}

/* Left and Right Pattern Backgrounds */
.danta-stats img:first-of-type,
.danta-stats img:last-of-type {
  position: absolute;
  top: -13px;
  /* height: 274px; */
  height: 96%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
  pointer-events: none;
}

.danta-stats img:first-of-type {
  left: -108px;
}

.danta-stats img:last-of-type {
    right: -105px;
}

/* Responsive Tweaks */
@media (max-width: 768px) {
  .stats-grid {
    flex-direction: column;
    gap: 30px;
  }

  .stat-item:not(:last-child)::after {
    display: none;
  }

  .stat-item h3 {
    font-size: 24px;
  }
}
