.download-app-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #1163c7;
  border-radius: 20px;
  padding: 65px 120px 10px 125px;
  margin: 100px 0;
}

.downloads_container {
  position: relative;
}

.downloads_container::before {
  content: "";
  background-image: url("/public/assets/Home/line.png");
  position: absolute;
  height: 570px;
  width: 158px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -90px;
  left: 0px;
  z-index: 99;
}

.downloads_container::after {
  content: "";
  background-image: url("/public/assets/Home/iPhone.png");
  position: absolute;
  height: 520px;
  width: 420px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  top: 30px;
  right: 5%;
}



.text-content>*:not(:last-child) {
  margin-bottom: 18px;
}

.tagline {
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 39.2px;
  font-size: clamp(1rem, 0.7646rem + 1.0949vw, 1.75rem);
  letter-spacing: 0;
  color: #fff;
  margin: 0px;
}

.heading {
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  margin: 10px 0;
  margin-bottom: 24px;
  font-size: 45px;
  margin-bottom: 0;
}

.subtext {
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  transition:
    opacity 0.4s,
    transform 0.4s;
  white-space: normal;
  word-break: break-word;
}

.subtex-one {
  font-size: 15.47px;
  font-weight: 400;
  font-family: "DM Sans";
  color: #fff;
}

.subtext-animate {
  opacity: 0;
  transform: translateY(-30px);
}

.store-buttons {
  display: flex;
  gap: 16px;
  margin-top: 5px;
  max-height: 60px !important;
  margin-bottom: 65px;
}

.google-btn,
.apple-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: clamp(0.8rem, 0.7567rem + 0.2015vw, 0.938rem) clamp(1rem, 0.7646rem + 1.0949vw, 1.75rem);
  border-radius: 9999px;
  font-weight: 600;
  font-size: clamp(0.75rem, 0.7007rem + 0.2632vw, 0.9375rem);
  line-height: 28px;
  letter-spacing: 0;
  max-height: 60px !important;
  max-width: 177px;
  font-family: "Poppins";
  justify-content: center;
  min-width: 120px;
  white-space: nowrap;
}

.apple-btn img {
  width: 25px;
}

.google-btn img {
  width: 25px;
}

.google-btn {
  background-color: #fff;
  color: #1163c7;
}

.apple-btn {
  background-color: #1163c7;
  color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid white;
}

.image-container img {
  position: absolute;
  height: 580px;
  top: -20px;
}

.lineicon {

  position: absolute;
  right: 10px;
  height: 200px;
  width: 180px;
  top: -10px;
  
}

@media screen and (max-width: 1140px) {
  .downloads_container::after {
    height: 472px;
    width: 380px;

    top: 0px;
    right: 0%;
  }

  .download-app-section {
    padding: 30px;
  }
}

@media screen and (max-width: 991px) {
  .store-buttons {
    margin-bottom: unset;
  }

  .lineicon{

    display: none;
  }

  .downloads_container::before {
    display: none;
  }

  .downloads_container::after {
    display: none;
  }

  .download-app-section {
    margin: 50px 0;
  }
}

@media screen and (max-width: 768px) {


  .google-btn {
    background-color: #fff;
    color: #1163c7;
  }

  .download-app-section {
    align-items: center;
    text-align: center;
  }

  .text-content {
    margin-top: 0;
    padding-top: 0;
    align-items: center;
    max-width: 100%;
  }

  .tagline {
    font-size: 20px;
    line-height: 28px;
  }

  .heading {
    font-size: 32px;
    line-height: 42px;
  }

  .subtext {
    font-size: 18px;
    line-height: 28px;
  }

  .store-button {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    gap: 10px;
    margin-top: 0;
  }
  .image-container {
    justify-content: center;
    margin-top: 30px;
  }

  .iphone-image {
    display: none;
  }


}

@media screen and (max-width: 540px) {


      .download-app-section {
        padding: 20px 10px;
    }
        .sub_footer ul li {
        margin: 0 4px;
    }

}