.hero-section {
  position: relative;
  background-color: #1163c7;
  /* padding: clamp(36px, 5.9vw, 85px) 0px 0px 0px; */
  color: white;
  overflow: hidden;
  border-radius: 0 0 40px 40px;
  height: fit-content;
  /* padding-top: 0px; */
}

/* .hero-background {
  position: relative;
  max-width: 100%;
  height: 80vh;
  margin: auto;
} */

.hero-left-img {
  position: absolute;
  /* width: 489px;
  height: 400px;
  top: -50px;
  left: -4em; */
  object-fit: contain;
  z-index: 1;
  width: clamp(120px, 21.47vw, 410px);
}

.hero-right-img {
  position: absolute;
  /* width: 489px;
  height: 400px;
  top: -50px; */
  /* right: -4.2rem; */
  right: 0px;
  object-fit: contain;
  z-index: 1;
  width: clamp(120px, 21.47vw, 410px);
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 clamp(15px, 3vw, 60px);
  text-align: center;
}

/* .hero-content h1 {
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 39.2px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 8px;
} */

/* .hero-content h1 {
  margin-bottom: 20px;
} */

.heading-animate,
.heading-nonAnimate {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Optional: center horizontally */
  font-family: "Lato", Arial, sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 3.46vw, 50px);
  /* line-height: 70px; */
  letter-spacing: 0;
  max-width: clamp(200px, 41.67vw, 600px);
  margin-bottom: 0px;
  margin-top: clamp(36px, 5.42vw, 78px);
  height: 70px;
  white-space: nowrap;
}

.hero-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  /* margin-bottom: 40px; */
}

/* Flexbox wrapper for input + icon */
.search-input-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(12px, 1.48vw, 30px);
  background-color: transparent;
  border: 1.2px solid #ffffff;
  border-radius: 15px;
  padding: 10px 16px;
  width: 53vw;
  height: 68px;
  min-width: 310px;
  box-sizing: border-box;
}
/* Input Styling */
.search-input-wrapper input {
  flex: 1;
  font-size: 1.3rem;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.search-input-wrapper input::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 1.3rem;
}

.search-input-wrapper input:focus {
  outline: none;
}

.hero-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: clamp(48px, 3vw, 144px);
  box-sizing: border-box;
  /* padding: 0 40px;  */
}

.card-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex: 1;
  justify-content: center;
  /* padding: 30px 0; */
  position: relative;
  height: 270px;
  width: 203px;
  margin: 0px 20px;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.nav-btn {
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  z-index: 10;
  /* padding: 10px; */
  border-radius: 50%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}


.nav-btn.left {
  left: 0px;
}

.nav-btn.right {
  right: 4rem;
}

.hero-arrow {
  margin-left:  4rem;
}

@media (max-width: 978px) {
  .hero-left-img,
  .hero-right-img {
    display: none;
  }
}

@media (max-width: 500px) {
  .heading-nonAnimate {
    margin-top: 10px;
    white-space: nowrap;
    max-width: 312px;
  }

  .hero-section {
    padding-top: 10px;
  }
  .hero-search{
    margin-top: 10px;
  }
  .hero-cards {
    margin-top: 10px;
  }
  .card-list {
    margin: 0px 10px;
  }
}
