/* InfoCard.css */
.info-card {
  width: 400px;
  height: 230px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 25px 12px 0px 12px;
}

.info-card.hover-effect {
  box-shadow: 0 8px 24px rgba(17, 99, 199, 0.18);
  transform: scale(1.04) translateY(-5px);
  transition: box-shadow 0.3s, transform 0.3s;
}

.info-card:hover {
  transform: scale(1.04) translateY(-5px);
  box-shadow: 0 8px 24px rgba(17, 99, 199, 0.18);
}

.info-card-image {
  height: 70%;
  width: 100%;
  background-color: #dddddd;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info-card-content {
  background-color: white;
  padding: 12px 16px;
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info-card-content h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #1d2b38;
  text-align: left;
}

.info-card-content p {
  margin: 4px 0 0 0;
  font-size: 16px;
  color: #6c757d;
}

@media (max-width: 768px) {
  .info-card {
    width: 100%;
    height: auto;
    margin: 16px 0;
    border-radius: 16px;
  }

  .info-card-image {
    height: 100px; /* Adjust for smaller screens */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .info-card-content {
    padding: 10px 14px;
  }

  .info-card-content h3 {
    font-size: 18px;
  }

  .info-card-content p {
    font-size: 14px;
  }

  .info-card:hover,
  .info-card.hover-effect {
    transform: none;
    box-shadow: 0 4px 12px rgba(17, 99, 199, 0.12);
  }
}
