.info-modal-content {
  /* border-radius: 10px; */
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border: none;
  width: 400px;
   border-radius: 0 !important; 
}

.info-modal-header {
  background-color: #1163C7;
  color: white;
  font-weight: 600;
  padding: 10px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-modal-body {
  background-color: white;
  padding: 14px 16px;
  font-size: 13px;
  color: #000;
  line-height: 1.5;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
