@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.card {

    box-shadow: 0px 4px 4px 0px #1163C740;
    margin-bottom: 15px;
    border: none;
    position: relative;
    height: 100%;
    border: 1px solid rgb(181, 181, 189);

}


.card_icons  .like{

    position: absolute;
    top: 10px;
    z-index: 999;
    right: 18%;
    height: 26px;
    width: 26px;

} 

.card_icons  .share{

     position: absolute;
    top: 10px;
    z-index: 999;
    right: 5%;
    height: 26px;
    width: 26px;


}



.sports_title p {

    color: #858585;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;

}

.offer p {

    font-weight: 400;
    font-size: 14px;
    color: #FC8019;
    margin-bottom: 0px;
}

.offer a {
    background-color: #1163C7;
    padding: 5px 16px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 26px;
    border-radius: 5px;
    font-family: 'DM Sans';
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    justify-content: center;


}

.offer a:hover{

    border: 1px solid #1163C7;
    background-color: transparent;
    color: #1163C7;
    transition: .3s ease-in-out;
}



.play_host_section .card h2 {

    color: #272727;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1rem;
    margin-top: 20px;

   
}

.going {

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 34.5px;
  color: #000;

}
.playhost_card {
  border-radius: 12px;
  position: relative;
}

.badge_label p {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}

.profile_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.profile_img.overlap {
  margin-left: -10px;
}

.icon {
  width: 18px;
  height: 18px;
}

.novice_txt {

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 34.5px;

}

@media screen and (max-width: 767px) {

  .going{

    font-size: 20px;
    line-height: 28px;
  }
  .play_host_section .card h2 {
    margin-top: 0px;
  }
  .novice_txt{

    font-size: 20px;
    line-height: 30px;
  }
}