.quick_booking_section .card {

    margin-bottom: 15px;
    box-shadow: 0px 5.35px 3.57px 0px #3363EB40;
    border-radius: 15px;


}

.quick_booking_section .card h3 {

  font-weight: 400;
  font-size: 24px;
  line-height: 37.25px;
  color: #172A39;

}
.quick_booking_section .card .card_img {
 
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    transition: .3s ease-in-out;
    height: 100%;
    max-height: 118px;
}

.quick_booking_section .card .card_img img {

  height: 100%;
  width: 100%;


}

.quick_booking_section .card .card_img img:hover{

    transform: scale(1.1);
}

.fade-text {
  display: inline-block;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}

.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}


@media screen and (max-width: 540px) {

  
.quick_booking_section .card h3 {

  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;


}
}