.Refund-container {
  padding: 0px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
  font-family: sans-serif;
  line-height: 1.6;
  margin-top: clamp(90px, 8.3333vw, 160px);
}

.Refund-container h1 {
  margin: 16px 0px;
  font-size: clamp(27px, 2.2222vw, 40px);
}

.Refund-container section {
  margin-top: 1.5em;
}

.Refund-container ul {
  margin-left: clamp(10px, 1.6667vw, 24px);
  list-style-type: disc;
  margin-top: clamp(10px, 2.0833vw, 30px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: clamp(10px, 2.0833vw, 30px);
  padding-inline-start: clamp(10px, 2.7778vw, 40px);
  list-style-type: disc;
}
