.Terms-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  line-height: 1.6;
  
}

.Terms-container h1 {
  margin-bottom: 0.5em;
}

.Terms-container section {
  margin-top: 1.5em;
}

.Terms-container ul {
  margin-left: 1.5em;
  list-style-type: disc;
}

