.footer_section{
  background-color: white;
}

.follow_us .links {
  height: 30px;
  width: 30px;
}
.follow_us .links img {
  height: 100%;
  width: 100%;
}

.title p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #172a39;
}
.sub_inner h3 {
  color: #1163c7;
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}
.sub_inner a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.sub_inner a:hover {
  color: #1163c7;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
.sub_footer {
  padding: 15px;
}
.sub_footer ul li {
  margin: 0 20px;
}
.sub_footer ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.sub_footer ul li a:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.sub_footer p {
  color: #3a3a3a;
  font-family: "DM Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

hr {
  background-color: #dfdfdf;
  margin: 10px !important;
  padding: 0;
}



@media screen and (max-width: 991px) {
  .sub_footer .row {
    flex-direction: column-reverse;
  }

  
}

@media screen and (max-width: 767px) {

  .dantaspot_logo{

    width: 150px;
    height: 100px;
  }

  .dantaspot_logo img {

    height: 100%;
    width:  100%;
    object-fit: contain;
  }
  .sub_footer ul li {
    margin: 0 10px;
  }
  .sub_footer ul li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 540px) {
  .sub_inner h3 {
    margin: 20px 0;
  }
  .sub_footer p {
    font-size: 12px;
  }
}
