@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

ul {

    padding: 0;
    margin: 0;
}

li {

    list-style: none;
}

a {

    text-decoration: none;

}

.section_title  h2 {

    font-family: 'Lato';
    font-weight: 700;
    font-size: 32px;
    color: #1163C7;
    padding: 30px 0;

}

.card_line{

  border: 1px solid #C4C4C4;
  margin: 12px 0;
}

.card_heading {

   font-weight: 600;
  font-size: 20px;
  color: #172A39;
  font-family: 'Lato';
  line-height: 30px;

}

.no_off_users{

  margin-top: 14px;
}
.see_all a {

    font-weight: 400;
    font-size: 24px;
    color: #1163C7;
    text-decoration: none;

}

.offer a {

  
  font-family: 'DM Sans';

}

.modal_title .rule p {

    color: #172A39 !important;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    line-height: 21.67px;
    padding-left: 15px;


}

.sports_title{
     white-space: nowrap;       
  overflow: hidden;         
  text-overflow: ellipsis; 
}


.short_card {

   border: 0.97px solid #1783D0;
    border-radius: 8px;
    padding: 25px 20px;
    background-color: white;
}


.text_wrap {
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.text_wrap {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


 .card_img {
  height: 222px !important; 
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}
.card_img img{

    height: 100%;
    width: 100%;
    object-fit: cover !important;


}

.no_off_users ul li {

  height: 25px;
  width: 25px;
  border: 0.5px solid #B1B1B1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 3px;
}

.no_off_users ul li img {

  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;

}

.sport_icons {


    height: 25px;
  width: 25px;
  border: 0.5px solid #B1B1B1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 1rem;
}

.sport_icons img {

   height: 100%;
  width: 100%;
  object-fit: contain;
}
.up_to_offer {

  color: #FC8019 !important;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 16.55px;

}
.onwards_rup {

  color: #1163C7 !important;
}

.card_date {

  color: #858585;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 16.54px;
  display: flex;
  align-items: center;
  margin: 0;

}

.card_date span {

  display: inline-block;
  height: 16px;
  width: 16px;
}

.card_date span img {


  height: 100%;
  width: 100%;
}

.text_blue a {

  color: #1163C7;
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  

}

.easy2 {

    position: absolute;
    top: 42%;
    left: 10px;
    background: #0000004D;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #ffffff9a;
    border-radius: 4px;

}

@media screen and (max-width: 767px) {

    .see_all a{

        font-size: 16px;
    }

  .section_title h2{


    font-size: 25px;
    line-height: 35px;
    padding: 24px 0;
  }
  
}