@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

ul {

    padding: 0;
    margin: 0;
}

li {

    list-style: none;
}

a {

    text-decoration: none;

}

.section_title  h2 {

    font-family: 'Lato';
    font-weight: 700;
    font-size: 32px;
    color: #1163C7;
    padding: 30px 0;

}

.card_line{

  border: 1px solid #C4C4C4;
  margin: 10px 0;
}

.card_heading {

   font-weight: 600;
  font-size: 20px;
  color: #172A39;
  margin-bottom: 16px;
  font-family: 'Lato';
  line-height: 30px;

}
.see_all a {

    font-weight: 400;
    font-size: 24px;
    color: #1163C7;
    text-decoration: none;

}

.offer a {

  
  font-family: 'DM Sans';

}

.modal_title .rule p {

    color: #1163C7 !important;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    line-height: 21.67px;
    padding-left: 15px;


}

.sports_title{
     white-space: nowrap;       
  overflow: hidden;         
  text-overflow: ellipsis; 
}


.short_card {

   border: 0.97px solid #1783D0;
    border-radius: 8px;
    padding: 25px 20px;
    background-color: white;
}


.text_wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.text_wrap {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


 .card_img {
  width: 100%;
  height: 220px !important; 
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}
.card_img img{

    height: 100%;
    width: 100%;


}

.no_off_users ul li {

  height: 30px;
  width: 30px;
}

.no_off_users ul li img {

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.up_to_offer {

  color: #FC8019 !important;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 16.55px;

}
.onwards_rup {

  color: #1163C7 !important;
}
@media screen and (max-width: 767px) {

    .see_all a{

        font-size: 16px;
    }

  .section_title h2{


    font-size: 25px;
    line-height: 35px;
    padding: 24px 0;
  }
  
}