/* body {
  overflow-x: hidden;
} */

.navbar {
  /* width: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 12px clamp(1rem, -0.6478rem + 7.6642vw, 6.25rem);
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
  background-color: white;
  /* box-shadow: 0 4px 12px rgba(17, 99, 199, 0.08); */
}

.navbar.home {
  background-color: #1163c7;
}

.navbar-container {
  width: 100%;
  /* max-width: 1238px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  gap: 0px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #0a0a0a;
}

.navbar-logo {
  /* width: 50px; */
  width: clamp(32px, 3.472vw, 64px);
  height: 50px;
  height: clamp(32px, 3.472vw, 64px);
  object-fit: contain;
  position: relative;
  /* right: 6rem; */
  display: block;
}

.navbar-link {
  text-decoration: none;
  color: #0a0a0a;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}
.nav-Filter-wrapper {
  display: flex;
  flex-direction: row;
  /* gap: 40px; */
  gap: clamp(15px, 2.778vw, 48px);
  margin-left: 15px;
  margin-right: clamp(15px, 2.778vw, 48px);
}
.nav-Filter-links {
  text-decoration: none;
  color: #ffffff;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: clamp(13px, 1.389vw, 24px);

  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

.nav-Filter-link {
  text-decoration: none;
  color: #0a0a0a;
  font-family: "DM Sans", Arial, sans-serif;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: clamp(13px, 1.389vw, 24px);
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}
.nav-Filter-link.active-link {
  color: #1163c7; /* Ant Design primary blue */
  font-weight: 600;
}

.navbar-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.app-btn {
  /* padding: 7px 17px; */
  padding: clamp(3px, 0.486vw, 10px) clamp(8px, 1.181vw, 24px);
  border-radius: 30px;
  border: 1px solid #1163c7;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  color: #0a0a0a;
  /* font-size: 20px; */
  font-size: clamp(13px, 1.389vw, 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(8px, 0.5556vw, 8px);
  margin-right: clamp(13px, 1.389vw, 24px);
}

.user-icon {
  border: 1px solid #1163c7;
  border-radius: 50%;
  /* width: 38px; */
  width: clamp(30px, 2.639vw, 48px);
  /* height: 38px; */
  height: clamp(30px, 2.639vw, 48px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon img {
  height: clamp(16px, 1.389vw, 24px);
  width: clamp(16px, 1.389vw, 24px);
}

/* Blue style overrides on homepage */
.navbar.home .navbar-link,
.navbar.home .navbar-brand,
.navbar.home .app-btn,
.navbar.home .user-icon {
  color: #ffffff;
  border-color: #ffffff;
}

.navbar.home .app-btn {
  background-color: white;
  color: #172a39;
  /* border: 1px solid #1163c7; */
}

.navbar.home .user-icon {
  background-color: white;
  border: 1px solid #1163c7;
  color: #1163c7;
}

.navbar.home .app-btn img {
  height: clamp(20px, 1.7361vw, 25px);
  width: clamp(20px, 1.7361vw, 25px);
}

/* Hamburger icon - hidden by default */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

/* Show hamburger and make menu collapsible on small screens */
@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .nav-Filter-links {
    color: #0a0a0a;
    font-size: 15px;
  }
  .navbar-actions {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white !important;
    position: absolute;
    padding: 10px 0px;
    top: 64px; /* adjust according to your navbar height */
    left: 0;
    /* padding: 16px; */
    z-index: 998;
  }

  .navbar-actions.active {
    display: flex;
  }

  .nav-Filter-wrapper {
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 12px;
    margin: 0;
  }
  .navbar.home .app-btn {
    border: 1px solid #1163c7;
    color: #0a0a0a;
    font-size: 15px;
    padding: 6px 12px;
  }

  .app-btn {
    width: 100%;
    margin: 0px 0;
    margin-top: 12px;
    border: 1px solid #1163c7;
    max-width: fit-content;
    color: #0a0a0a;
  }

  .user-icon {
    margin-top: 12px;
  }

  .navbar {
    background-color: #1163c7 !important;
  }
  .navbar-logo {
    filter: brightness(0) invert(1);
  }
}
